[2015-09-14 10:28] VesaJuvonen opened #2 "Core.MailApps should be renamed with Outlook prefix"
https://github.com/OfficeDev/PnP-OfficeAddins/tree/dev/Samples/Core.MailApps should be renamed accordingly with Outlook prefix, since it's a mail app.

[2015-10-07 22:20] SharePointing commented on #2
Done ! Thanks for catching that. Updated all folders to reflect the namespacing and project structure.

[2015-10-07 22:20] #2 closed

[2015-11-16 22:58] bpatra opened #8 "Outlook.RelatedData mogic to retrieve reports and company is not implemented"
in _restService.js_ we have the two following functions

[code]

And

[code]

It seems that there is no server side logic to handle those requests. In addition, they should target the proper server. The domain and the port 44301 are hardcoded.

[2017-01-04 05:07] nigel-dewar opened #26 "Outlook.CRM app errors out and will not run"
Hi there,

In the console whilst running the CRM outlook sample in browser I can see the following error

TypeError: Cannot read property 'id' of null
    at controllers.js:33
    at services.js:71
    at angular.js:9408
    at processQueue (angular.js:13248)
    at angular.js:13264
    at Scope.$eval (angular.js:14466)
    at Scope.$digest (angular.js:14282)
    at Scope.$apply (angular.js:14571)

[2017-01-04 06:00] nigel-dewar commented on #26
Sorry my bad. I just needed to create the documentDB and then it was fine. Sorry about that.

Amazing sample by the way, cheers

[2017-01-04 06:00] #26 closed

[2017-10-22 09:44] shahshyam opened #27 "Missing adal.js file in MessageRead.html"
I found Outlook.AddInSample project solution is missing some js file (adal.js) link in MessageReade.html under head section. Please check it

[2019-11-23 07:12] sandeepsa opened #58 "SSO for outlook add-in"
**Is your feature request related to a problem? Please describe.**

Trying to implement SSO flow, please share any guidelines to implement Single Sign On.

**Describe the solution you'd like**

Should be able to get access token using SSO, and save email to SharePoint location. Current implementation has popup to get access token.

**Describe alternatives you've considered**

If we have to use pop

[2019-11-25 18:06] Rick-Kirkham commented on #58
We have extensive documentation for SSO at this article and it's peer articles: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins

We have these two samples:
https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO
https://github.com/OfficeDev/Office-Add-in-ASPNET-SSO

[2019-11-25 18:06] #58 closed

[2019-11-29 06:50] sandeepsa commented on #58
Thank you

[2020-01-07 20:59] connerk opened #60 "Excel-custom-functions instructions result in Add-In Error"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/blob/0354c2b155b52e4c6e37eee93b2bc62629256d80/Excel-custom-functions/AzureFunction/README.md

**Describe the bug**

When following the instructions to deploy the sample, _Build and run the custom function_ item 3 is to run `npm run start`
upon this, webpack compiles, excel opens, but the excel add-in side window states

   ADD-IN ERR

[2020-01-23 20:07] davidchesnut commented on #60
Hi @connerk, thanks for raising this issue! We're taking a look.
Thanks,
David

[2020-01-27 03:49] davidchesnut commented on #60
Hi @connerk, One thing that will cause this error is if the manifest.xml is invalid. You might try running a diff of the manifest you have against the original from the repo and see if you can spot anything that might have changed.

You can also run the following command which will validate the manifest file in your project to see if their are any errors. (this is from [Validate an Office Add-in's

[2020-03-10 00:27] Buzzardbait opened #62 "How to download sample?"
I don't understand how to download the sample files. The usual Clone and Download buttons are missing.
Thanks

[2020-03-13 20:56] davidchesnut commented on #62
Hi @Buzzardbait, Right now you have to clone or download the entire repo. Then browse to the folder of the sample you want to work with. I'll do a little checking to see if there's a way to make the download process more granular to each sample, but I'm not sure how well it will work on a GitHub repo.  Thanks!

[2020-03-13 21:36] Buzzardbait commented on #62
Oh! How dumb of me! Please don't go to that trouble I can easily extract it from the download.
Thanks, but I may have more questions when I try to run it because I'm not experienced with Visual Studio 2019 :-)

[2020-03-13 21:36] #62 closed

[2020-03-14 00:05] davidchesnut commented on #62
:-) no worries. I'm happy to help with any questions.

[2020-03-15 01:50] Buzzardbait opened #64 "Debug error with ASP.NET React sample"
**Question**

I downloaded the sample and followed the instructions but something went wrong. Excel can't see the add-in. I named the project React1 Here are various steps...
React1 Warnings:
3>  npm WARN deprecated popper.js@1.16.1: You can find the new Popper v2 at @popperjs/core, this package is dedicated to the legacy v1
3>  npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintaine

[2020-03-20 16:34] davidchesnut opened #68 "Sample Request: Open/close task pane"
We're breaking the large scenario [Manage ribbon and task pane UI, and run code on doc open](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) into smaller bite-size samples.

This request is to break out the part of the sample that shows how to programmatically open and close the task pane. So this sample only focuses on how to open or close the task

[2020-03-20 16:45] davidchesnut opened #69 "Sample request: Contextual Ribbon UI"
We're breaking the large scenario [Manage ribbon and task pane UI, and run code on doc open](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) into smaller bite-size samples.

This request is to break out the part of the sample that shows how to manage Ribbon buttons being enabled or disabled based on context of the UI and user actions. The goal is to

[2020-03-20 20:40] davidchesnut commented on #64
Hi @Buzzardbait , Yeah, the steps are a little confusing so I will fix that. The reason to copy the ID is so that you can paste it back in once you replace your manifest with the one from the template. You don't want to use the template ID because on additional projects you'll end up with multiple add-ins attempting to use the same ID which would cause issues. I'll add a step on how to paste it ba

[2020-03-20 21:55] davidchesnut commented on #60
Hi @connerk, I haven't seen any update on this issue in a while, so I will close it for now. If you are still running into any issues with the project, please feel free to reopen this issue.

Thanks!
David

[2020-03-20 21:55] #60 closed

[2020-03-27 17:03] davidchesnut commented on #64
Hi @Buzzardbait I have a PR pending that fixes the dependencies which was causing the add-in not to load and run properly. Also I added some images and steps to the readme to make it clearer. Would be great if you could try it and let us know if it works. Thanks!

[2020-04-02 18:00] nfgallimore opened #73 "Outlook Consume Graph API Login Frequency"
**Question**

I am investigating how to convert an existing outlook add-in to authenticate to one of our APIs via AAD. The way the add-in works, it would severely limit the user experience if they were constantly  prompted with a dialog. If I were to base my solution off this sample project, how often could we expect the user to have to interact with a dialog or login?

[2020-04-08 18:16] amandalegere8 opened #74 "Office Addin MS Graph ASP.NET"
**Question**

C:\Office-Add-in-Microsoft-Graph-ASPNET\Office-Add-in-Microsoft-Graph-ASPNETWeb\Models\SessionToken.cs

Says I am missed a reference to JwtSecurityToken when I try to run. Did I do something wrong?

[2020-04-08 19:22] Rick-Kirkham commented on #74
Please provide more details. What are the exact steps that lead to the error. Where do you see the error? (E.g., in Visual Studio?)

[2020-04-08 21:41] amandalegere8 commented on #74
Yes its in visual studio.

I commented out the block of code until I didn't have an error anymore.
When I run (F5) the project I still get a problem occurred while trying to
reach this add-in.

On Wed, Apr 8, 2020 at 2:22 PM Rick-Kirkham <notifications@github.com>
wrote:

[2020-04-09 01:25] Rick-Kirkham commented on #74
What is the exact error that you see? Can you provide a screen shot?
What is the block of code that you commented out?
Does the sample still work with the code commented out?

[2020-04-16 04:00] #74 closed

[2020-05-12 23:04] MarkIannucci opened #77 "Office.ASP.NETCoreReactAddins uses .Net Core 2.2 Runtime which is EOL"
.Net Core 2.2 was EOL 12/23/2019.  It would be great if someone can update the sample to 3.1.

[2020-05-12 23:37] aafvstam commented on #77
Well, you are in luck ... I already did the work and created a PR #75 for this [here](https://github.com/OfficeDev/PnP-OfficeAddins/pull/75/commits/3928f5abde41d1914e10dd4d776c57284bb3992c) and waiting for it to be merged. Initially only upgraded the TypeScript part as I wanted to get this pulled in before putting in more work to also update the JaveScript part. The PR has been sitting here now fo

[2020-05-12 23:57] MarkIannucci commented on #77
@aafvstam , thank you.  I am in luck; I'll use your fork until the PR gets merged.

[2020-05-14 17:54] jnSWPC opened #79 "AddIn not loading"
**Question**

_Ask your question here._
I cloned the repo and was able to successfully compile with start npm start.  Then when I do npm run sideload, excel launches but I see an "one or more add-in load failed" status pops up in the bottom but the buttons show up in the ribbon.. when i click on the buttons i see status show Conotoso Data importer is working on.. , but nothing happens.. Just wonde

[2020-05-14 18:10] jnSWPC commented on #79
the version of office i have is Version 2004 ( 12730.20270)

[2020-05-17 00:12] aafvstam commented on #79
What Add-in are you referring to? The repo contains several add-ins.

[2020-05-18 12:58] jnSWPC commented on #79
excel-shared-runtime-scenario

[2020-05-18 14:25] aafvstam commented on #79
Usually this is related to the security. In my case, as I already had a valid localhost certificate, the sideload did not generate a new one and failed to load as well. I had to add the directory containing the manifest.xml (create a share to the folder containing the manifest first so you have a \\machine\sharename location to put in your trusted catalogs.

![image](https://user-images.githubuser

[2020-05-18 15:05] jnSWPC commented on #79
Thank you..Could you please share the Office version you have?

This is the version I have
![Version](https://user-images.githubusercontent.com/22331494/82228593-ed5aa300-98ee-11ea-80e7-a7a9dfcabb3f.PNG)

[2020-05-18 21:07] aafvstam commented on #79
At this time I'm on:
![image](https://user-images.githubusercontent.com/5305682/82259645-3b59c000-995c-11ea-91f1-5170648c4b4d.png)

But I'm pretty sure I was on your version when I tested it as I checked the version before that.

[2020-05-19 16:26] jnSWPC commented on #79
I have created a share for the folder where manifest.xml resides
![image](https://user-images.githubusercontent.com/22331494/82351885-cd94af00-99c2-11ea-89bd-af94dd743348.png)

Also when i check for cert, i see the following
![image](https://user-images.githubusercontent.com/22331494/82352157-32500980-99c3-11ea-95e9-645d2583427a.png)

when i execute npm run sideload , excel launches and i see the

[2020-05-19 18:14] aafvstam commented on #79
Did you also build and start the webservice (npm install, npm start) ?

If so you should be able to start the app in your browser (check the port in the npm start output):

![image](https://user-images.githubusercontent.com/5305682/82362118-23da1000-9a0c-11ea-9d45-ab40c4c412e1.png)

As the addin is a two part process, the running webservice and the Excel addin reaching out to this webservice you n

[2020-05-20 00:34] jnSWPC commented on #79
Appreciate your detailed response.. yes I had the service running.. I see this certificate error.. could this be contributing to the issue I am seeing
![image](https://user-images.githubusercontent.com/22331494/82391742-af04d700-9a07-11ea-86c1-ed77d95f93bb.png)

[2020-05-20 17:00] aafvstam commented on #79
Yes, this can be very much your issue. Is that what you see if you run the service in the browser? You can go into certmgr and remove the invalid certificate. After that "npm run sideload" most likely installs a new certificate...

[2020-05-20 20:14] caolgood opened #80 "excel-shared-runtime-scenario sample fails manifest validation"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario

**Describe the bug**

The provided manifest.xml validation script fails for this sample. So now I'm not sure how to correctly configure  a shared runtime with custom functions.

[code]

Removing the sharedRuntime requirement set fixes this. But am I really supposed to do that?

**To

[2020-05-20 22:02] aafvstam commented on #80
**Issue**
The manifest has the Requirement Set specified:
`<Set Name="SharedRuntime" MinVersion="1.1"/>`

**Reason**
SharedRuntime is not part of the OfficeJS Requirement Sets here:
[Requirement Sets](https://github.com/OfficeDev/Office-Js-Requirement-Sets)

This was identified by @shaofengzhu and added a **PR** for this:
[Add SharedRuntime1.1 to Excel](https://github.com/OfficeDev/Office-Js-Requi

[2020-05-21 16:01] jnSWPC commented on #79
Thank you very much.. I cleared up my existing certs from cert mgr and then installed the root certificate from excelshare\certs ca.crt into trusted catalog.. started service, navigated to https://localhost://3000, and got cert error, installed the localhost cert into trusted catalog from within browser.  now when i did a sideload the add-in loaded..

[2020-05-21 17:46] aafvstam commented on #79
Great, good to hear! Certificates always is a bit of a pain. Office Apps are extremely good protected to avoid malware issues and other security risks. So to start it can be painful but once it runs you are good to go 😎👍

[2020-05-21 18:25] jnSWPC commented on #79
I had another follow up question.. I have a visual studio office add-in project.. I am trying to explore the same shared runtime preview feature. I have referenced the beta office.js and the type. However during compile VS has a build failure as follows.. Is there a schema url for preview i can use that has the RunTimes definition?
![image](https://user-images.githubusercontent.com/22331494/825923

[2020-05-23 09:19] adim1973 opened #81 "excel-shared-runtime-scenario sample issues"
**URL of sample**

[sample link](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario)

**Describe the bug**

1. Ribbon buttons (commands) are always enabled.
2. The Sum Command doesn't work and crashes the add-in (after pressing Sum the add-in is not working anymore).
3. Running the tasks "tsc: watch - tsconfig.json" or "tsc: build - tsconfig.json" in VS

[2020-05-29 03:44] EUOROSA opened #82 "excel-shared-runtime-scenario: Taskpane loads wrong"
Hi, could you help me?
When you click to show the taskpane, a small taskpane shows in the corner.
And this is happening with my application too.

![image](https://user-images.githubusercontent.com/63984627/83218022-766da780-a143-11ea-82e5-fafbb6f31389.png)

Every time I have that issue, Edge Devtools shows two line.
![image](https://user-images.githubusercontent.com/63984627/83218684-cef17480-a144

[2020-05-30 14:06] EUOROSA commented on #81
Have you had any progress?

[2020-05-30 14:08] EUOROSA commented on #82
I was using Version 2005 (Build 12827.20210) and it happens to show small. So I downgraded to Version 2004 (Build 12730.20352) and the Taskpane worked, but now all the Ribbon buttons (commands) are always enabled.

![image](https://user-images.githubusercontent.com/63984627/83330489-a0b78600-a265-11ea-99ef-57788904fb75.png)

I tried different versions and always the same results.

Please, could yo

[2020-05-30 15:55] adim1973 commented on #81
None!

[2020-06-01 16:33] Rick-Kirkham commented on #81
I'm trying to get you some help about this.

[2020-06-03 18:14] zlatko-michailov commented on #79
Sorry, I didn't see that you have already gotten a solution to this issue.

As your new issue is unrelated to these samples, please file it at [StackOverflow](https://stackoverflow.com) with an `officejs` tag, so the team can close this thread.

[2020-06-03 18:45] shaofengzhu commented on #80
It was fixed.

[2020-06-03 18:58] #79 closed

[2020-06-03 18:58] #80 closed

[2020-06-03 19:08] Rick-Kirkham commented on #77
Sorry for the delay. The PR is now merged.

[2020-06-03 19:08] #77 closed

[2020-06-03 22:39] jeremy-msft commented on #81
Hi @adim1973, thanks for your feedback.  It looks like you might be on an older version of Office that doesn't support this sample.  Could you please try again using the latest [Office Insider](https://insider.office.com/) build?

[2020-06-03 22:40] jeremy-msft commented on #82
Hi @EUOROSA, thanks for your feedback.  It looks like you might be on an older version of Office that doesn't support this sample.  Could you please try again using the latest [Office Insider](https://insider.office.com/) build?

[2020-06-04 01:28] EUOROSA commented on #82
I'm already using Office Insider and updated to June 03, 2020
Version 2006 (Build 13001.20002). The small taskpane in the corner continues.

I'm using the Office.JS: https://appsforoffice.microsoft.com/lib/1/hosted/office.js

[2020-06-04 06:31] adim1973 commented on #81
I have updated to latest Excel available on normal channel (work 365 account here, so getting to Insider it's difficult) and also switched to Excel 32 bit and now everything works fine!

![image](https://user-images.githubusercontent.com/5249431/83722636-02049e00-a646-11ea-9e3d-11557c24ea2b.png)

Maybe switching to 32 bit was also helpful, don't know for sure.

Any suggestion on how to run and deb

[2020-06-04 06:35] adim1973 commented on #82
It works fine for me (normal size taskpane, buttons toggle their state) with Excel 16.0.12827.20200 32 bit. Check the bitness of your Excel , that might me the issue.

[2020-06-04 14:57] EUOROSA commented on #82
Thanks.
It works fine with Excel version 2005 (Build 12827.20268)(16.0.12827.20200 32 bit) by update normal monthly channel, but it caused a slight bug on the layout page. Note: this version opens with IE11 and debug using C:\WINDOWS\System32\F12\IEChooser.exe.

For Excel version 2005 (Build 12827.20268)(16.0.12827.20200 32 bit) by update Office Insider Current Channel (Preview), **It doesn't work

[2020-06-06 01:54] EUOROSA commented on #82
Hi,
I changed to the Office Insider Current Channel with the new Version 2005 (Build 12827.20320) (June 04, 2020) and It works fine.  For the slight bug on the layout page, I fixed it in the index.css.

======xxxx=====

For file downlad (saveAs) will always work due to note 3 below, i.e. it will always open with IE11.

https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-o

[2020-06-06 01:55] #82 closed

[2020-06-09 17:48] jeremy-msft commented on #81
It should work the same on 64-bit, so it's likely the latest update that resolved your issue.  Please feel free to switch over to 64-bit and let us know if you run into the same problem again.

Shared runtime will currently run using IE 11 on Windows (more details [here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)).  Please see [this article](h

[2020-06-25 08:11] topkoong commented on #81
It works fine on Office 365 Insider Fast Version for Mac; however, it's not working on Office Online, and a single-line ribbon is not enabled yet.

[2020-07-14 13:33] abhsha opened #84 "Issue with login popup with Outlook Client. Authentication popup not closed with Outlook Client"
Login(Authentication) pop is not closing in Outlook Client. Same scenario worked fine in Outlook web app with Chrome,Edge.

Specifically observed with Outlook Client. Assuming due to "Office.context.ui.messageParent" not returning Error/Success data to parent window.

*Expected behavior**

Popup should close as user is authenticated.

**Environment**
- Platform [PC desktop, Mac, iOS, Office Online

[2020-07-27 05:43] chanhohang opened #85 "excel-shared-runtime-scenario cannot be run on Excel Version 2008 (Build 13117.20000) Beta Channel"
Hello,

My laptop is installed with Office 364 Beta Channel Version 2008 (Build 13117.20000) and when i try to follow the steps in https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario

`start npm start`
`npm run sideload`

The sample is not running properly with errors when the excel application starts.
Please find the attached screenshot below. The add-i

[2020-08-13 02:12] EthanVaz opened #86 "How to get started on a similar project?"
I have tried the **excel-shared-runtime-scenario** sample from [Code.](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) and want to create a similar project from scratch using VS Code. How do I get started to create a similar project? I am interested in the Enable/Disable of ribbon items.

[2020-08-13 16:45] AlexJerabek commented on #86
Hi @EthanVaz,

If you're looking to make an Excel add-in using the shared runtime, please check out [Configure your Excel add-in to use a shared runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime).

If you're just looking to make a new Excel add-in from scratch, please visit [Build your first Excel task pane add-in](https://docs.microso

[2020-08-13 17:36] EthanVaz commented on #86
Hi @AlexJerabek,

Thanks for your reply. I have an existing project and I am trying the Enable/Disable feature. When the ribbon loads, I have it disabled but I am not able to Enable it via code. Office.ribbon.requestUpdate is executing but the ribbon is not getting enabled. I don't see any errors/exceptions. Not sure what's happening. If I can get some documentation on controlling ribbon items, th

[2020-08-13 18:47] Rick-Kirkham commented on #86
Here is our article about enabling/disabling commands: [Enable and Disable Add-in Commands](https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands)

[2020-08-13 18:47] #86 closed

[2020-08-14 09:53] EthanVaz opened #87 "excel-shared-runtime-scenario not working"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario

**Describe the bug**

On **npm run sideload**, Excel is started and there is an error saying **Error installing add-ins : One of more add-ins failed to download a required resource**

**To Reproduce**

Steps to reproduce the behavior:
1. Downloaded source code.
2. Follow steps mentio

[2020-08-18 07:43] yhayak872 opened #88 "Office.ASP.NETCoreReactAddins can not be loaded the add-in module by Excel in debugging."
**URL of sample**
https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/Office.ASP.NETCoreReactAddins

_URL linking to the sample that has the bug._
https://github.com/OfficeDev/PnP-OfficeAddins/blob/master/Samples/Office.ASP.NETCoreReactAddins/excel-js/manifest.xml

**Describe the bug**
In debugging, Excel invoked by Visual studio could not load Add-in module from local web site.

_A

[2020-08-28 22:52] AlexJerabek commented on #87
Hi @EthanVaz,

I believe your issue was related to expired certificates being used. PR #89 should have addressed this. Could you please retry the sample installation instructions with the new certificate step? I'll relist them below.

0. Clone the repo and navigate to the "Samples\excel-shared-runtime-scenario" folder.
1. `npx office-addin-dev-certs install --days 365`
2. `npm install`
3. `npm run

[2020-09-05 01:00] #87 closed

[2020-09-17 22:55] aafvstam commented on #88
It is not what I see (it loads on my machine and able to stop on a breakpoint), technically I think @yhayak872 is right and the URL in the manifest should be index.html

The unmodified project works however on my machine (I live streamed it on YouTube so if you have a couple of hours you can look back what I did 😉).

Out of the box it did work for me:

![image](https://user-images.githubuserconten

[2020-09-25 06:33] yhayak872 commented on #88
Thank you to report many information and suggestions. Your live stream was very helpful for me.
After your report, I checked again my project and executed.
Curiously, My Project worked fine too with original URL path ( it is "~remoteAppUrl/taskpane.html" ).
But I can not understand why it did not work before because I have not modified anything but above URL.
After my report, my machine had two up

[2020-09-25 06:33] #88 closed

[2020-09-29 09:04] yhayak872 commented on #88
This is a post-report of this issue.
Repairing my Visual Studio resolved the breakpoint issue.
Perhaps the first problem of not loading the add-in module is for the same reason too.
My Visual Studio was updated several times while debugging this add-in project, so it's possible that Visual Studio wasn't working properly.

Best regard.

[2020-09-30 06:16] EthanVaz opened #95 "Office.ribbon.requestUpdate() throws Uncaught (in promise) RichApi.Error"
**Question**

I have created a sample project referring to https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator

Manifest and the API to Enable/Disable ribbon was written referring to https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands

The API Office.ribbon.requestUpdate() is throwing an exception saying....

U

[2020-10-02 20:58] davidchesnut commented on #85
Hi @chanhohang,

Sorry for the late reply on this. The shared runtime samples were using an old beta endpoint and we recently updated them for release bits. This may have been the issue you were encountering. If you can try the latest update to the samples that would be great! Please let us know if that doesn't fix the issue.

Thanks!

[2020-10-02 23:22] davidchesnut commented on #95
Hi @EthanVaz , it looks like the documentation is showing the wrong code for the API. I'm doing some more research to confirm. In the meantime you could try the following code to update the ribbon as shown in [this sample](https://github.com/OfficeDev/PnP-OfficeAddins/blob/master/Samples/excel-shared-runtime-scenario/utilities/office-apis-helpers.ts)
[code]

Thanks,
David

[2020-10-03 02:07] EthanVaz commented on #95
Tried and still the same error.

[2020-10-05 17:09] davidchesnut commented on #95
Hi @EthanVaz Okay, I am able to reproduce this error if I introduce minor bugs in the manifest. For example, if <FunctionFile...> is not using the shared runtime you will see this error. Is it possible to share your manifest by posting it on your GitHub account somewhere? Or if you can share the add-in code I could try to repro the behavior from your code. Thanks!

[2020-10-08 21:33] aafvstam commented on #85
Tested on 2011 13406.20000, all seems to work properly. I think this can be closed as soon as PR #70 is pushed in ... (probably already works but I tested it at least on the #70 code.

[2020-10-09 04:53] EthanVaz commented on #95
I need some time to upload my sample. Meanwhile, can you let me know the changes in the manifest which reproduced the error? Maybe I can try it and fix my issue.

[2020-10-12 19:35] #81 closed

[2020-10-16 16:31] #64 closed

[2020-10-19 21:44] aafvstam commented on #85
@AlexJerabek @davidchesnut Same here, I'm unable to close the issue (only comment). See above, tested it in my live stream and working so can be closed.

[2020-10-19 22:21] davidchesnut commented on #85
Hi @aafvstam, (@AlexJerabek as fyi) I just gave you access for issues. We give folks a few days to follow up if they still have questions or the issue isn't resolved. Then a bot will auto-close the issue. So no need to close these.

[2020-10-22 18:51] davidchesnut commented on #95
Hi @EthanVaz , sorry for late reply. You can see an example of a manifest using shared runtime [here](https://github.com/OfficeDev/PnP-OfficeAddins/blob/master/Samples/excel-shared-runtime-scenario/manifest.xml). Also the steps for configuring your manifest are in [Configure your Excel add-in to use a shared JavaScript runtime](https://docs.microsoft.com/office/dev/add-ins/excel/configure-your-add

[2020-10-26 20:49] davidchesnut opened #98 "Request for Feedback on Open in Excel sample"
We're looking to expand sample code for some additional areas of the [Open in Excel article](https://docs.microsoft.com/office/dev/add-ins/excel/pnp-open-in-excel).

Here are some ways we are looking to expand the sample:
- Show how to embed data such as a table from the web page into the Excel document.
    - Should we show how to use OOXML to insert the data?
    - Or should we show how to use a

[2020-10-29 22:00] #95 closed

[2020-11-07 10:23] michal-petrik opened #100 "React Auth Sample login Issue"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React

**Describe the bug**

I followed the sample, however, the login process in popup window fails. Using debugger the error is:
`AcquireToken_In_Progress: Error during login call - login is already in progress.`
Then there are many cyclic redirects and the whole process failur

[2020-11-07 23:42] Rick-Kirkham commented on #100
@davidchesnut is our auth guy. In the meantime, here are some thoughts that might help:

You definitely have to use the required version of Office. Even when you get past the problem you are seeing now, you would get errors later in the process. So the first step is to upgrade your Office.

msal.js 1.0 uses LocalStorage and its handling of LocalStorage is buggy. Those bugs can lead to the kind of

[2020-11-15 04:00] #100 closed

[2020-11-20 04:00] #85 closed

[2020-11-27 16:27] robkott opened #101 "Is the excel-shared-runtime-scenario still in preview?"
**Question**

The readme for excel-shared-runtime-scenario still says it relies on preview features:

Note: The features used in this sample are currently in preview and subject to change. They are not currently supported for use in production environments. To try the preview features, you will need to join Office Insider. A good way to try out preview features is by using an Office 365 subscripti

[2020-12-01 18:24] AlexJerabek commented on #101
Hi @robkott,
The sample does use contextual tabs, which are currently in preview. I'll tag @Rick-Kirkham, in case there's more to say about the timeline of that feature.

Other parts of the sample are in general availability. Is there a specific API you're wondering about?

[2020-12-02 15:32] robkott commented on #101
One of the things I am struggling with is knowing what APIs I am using and what version of the API i am using. Can I determine that from the manifest? Or is it based on the office-addin package versions?

[2020-12-02 17:07] AlexJerabek commented on #101
Sure. Let me add @davidchesnut to help address this for the PNP samples and determine how we can better convey this information.

[2020-12-02 17:41] davidchesnut commented on #101
Thanks for catching this @robkott !

These samples are no longer in preview. I created PR #102 to fix this.

[2020-12-02 17:42] #101 closed

[2020-12-14 16:01] inspiraller opened #104 "Office-Add-in-Microsoft-Graph-React Sample example - First try = Login is already in progress"
I have followed the instructions from here and registered an app via azure to test this Sample:
- link1: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React
- link2: https://docs.microsoft.com/en-us/graph/auth-register-app-v2

1. **Register an application with the Microsoft Identity Platform**
- visit https://portal.azure.com/
- login with exc

[2020-12-14 16:56] Alex-Willenbrink opened #105 "Office Add-In Built Upon Angular that Uses a Shared JavaScript Runtime"
I'm trying to generate a simple excel office add-in with a shared JavaScript runtime that uses Angular instead of React but can't seem to get it to work. The office add-in DOES work before I try to implement the JavaScript shared runtime.

I've gone through and applied all the relevant steps in this [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-

[2021-01-12 19:09] davidchesnut opened #109 "Certs no longer work in Office-Add-in-Microsoft-Graph-React"
The certs in https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Office-Add-in-Microsoft-Graph-React no longer work. Need to change this sample to use the autogenerated certs from yo office.

[2021-01-20 19:14] #109 closed

[2021-01-28 17:26] elthombre opened #326 "Working Sample?"
In the following article:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

there is an image of a dialog that uses an external sign-in process. A secondary article:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api

discusses the technology.

Why is there no fully working sample? I would assume a couple of things:

-

[2021-02-11 09:38] gpowork opened #116 "Example does not work on MacOS Big Sur"
**URL of sample**

_https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-global-state_

**Describe the bug**

_Example does not show custom formula in excel on MacOS Big Sur (did not test on other versions). Task pane works well._

**To Reproduce**

Steps to reproduce the behavior:
1. _Go to 'root folder of example'_
2. _Run 'npm run start'_
3. _Excel appears put

[2021-02-16 11:53] eirikb commented on #104
Hi
I've found a way to trigger this consistently after the Add-in is setup. And a workaround to bypass the error.

### Triggering the error
If I change (or remove) the **Redirect URIs** in **SPA** setup in **Authentication** in the **AAD App** I can trigger the usual

error, as expected.
Now I can close the popup, change the **Redirect URIs** back to the valid URI and trigger login (**signInO365**

[2021-02-19 01:10] davidchesnut commented on #104
Hi @inspiraller and @eirikb,

Yes, following @eirikb's repo steps I see this same problem. @inspiraller does clearing the cookies fix the issue for you? I'm checking with the team to see if there's a better solution. Thanks!

[2021-02-25 01:27] davidchesnut commented on #105
Hi @Alex-Willenbrink, thanks for including the repo location of the code. Looking at the manifest, you need to be sure you always use the same resource id to refer to the shared runtime. For example:
`<Runtime resid="ContosoAddin.Url" lifetime="long" />`
...
`<FunctionFile resid="ContosoAddin.Url"/>`

Your manifest is using Commands.Url for FunctionFile. When the resource ids differ by name, the s

[2021-02-25 01:46] leybal opened #119 "displayDialogAsync works unstable on add-in initialization"
Hello. I've downloaded and run the [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) add-in sample. I had created a new workbook and then pressed Connect service button on the ribbon. Its always result in add-in initialization with a message in the consol "init globals for command buttons". But in some cases, the dialog

[2021-02-26 21:38] davidchesnut commented on #116
Hi @gpowork, thanks for reporting this.

We tried the repo steps on macOS Big Sur, but the sample is working correctly for us. You might try [clearing the Office cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache#clear-the-office-cache-on-mac) to see if that helps. Or can you follow up with more details about the error you are seeing?

Thanks!
David

[2021-03-04 04:00] #105 closed

[2021-03-06 01:00] #116 closed

[2021-03-10 14:37] johandanforth opened #124 "Cookies not set/saved in Browser"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/3ce0e1b74152dbbe8306a091696bc4455c04c0a1/Samples/auth/Office-Add-in-Microsoft-Graph-ASPNET

**Describe the bug**

Note: The sample works fine in Windows Outlook, but not in Web Outlook in a browser.
The code sample uses http cookies to keep track of the state keys, but cookies are never saved when running in a web browser. The r

[2021-03-22 23:11] ElizabethSamuel-MSFT commented on #124
@johandanforth Thanks for letting us know about this.

@davidchesnut Can you take a look?

Thanks.

[2021-03-23 17:18] ElizabethSamuel-MSFT commented on #8
@bpatra Thanks for raising this issue.

@davidchesnut Can you take a look?

Thanks.

[2021-03-23 17:19] ElizabethSamuel-MSFT commented on #27
@shahshyam Thanks for raising this issue.

@davidchesnut Can you take a look?

Thanks.

[2021-04-15 18:54] elthombre opened #130 ""cannot be displayed in a frame" error"
Is there a way to update the web.config of an Outlook for web add-in to prevent the "... cannot be displayed in a frame" error?

Thanks

[2021-04-22 17:20] johnaweiss opened #132 "Walkthrough?"
**Question**

i feel overwhelmed by this resource. Is there a very simple, step-by-step walkthrough to get started?

thx

[2021-04-22 18:26] aafvstam commented on #132
What are you looking for? Word, Excel ... other?

This would be the ultimate starting point:
https://docs.microsoft.com/en-us/office/dev/add-ins/overview/learning-path-beginner

[2021-04-22 18:47] johnaweiss commented on #132
Excel

[2021-04-22 19:11] aafvstam commented on #132
Ok, starting with the link above your next step would be:
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator
and
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial

As suggested above, you are better served asking implementation related questions on StackOverflow tagging it with [officedev] and/or [office-js] :
htt

[2021-04-22 19:11] #132 closed

[2021-04-22 21:34] davidchesnut commented on #104
Hi @inspiraller,

I apologize as I missed an important detail in your repo steps. Your steps indicate that you configured a **web** redirect. You need to use an **SPA** redirect since this sample is a single-page application. You can configure this from the **Redirect URIs** links on the **Overview** page in your App registration on the Azure portal. This will take you to the **Platform configurat

[2021-04-30 01:00] #104 closed

[2021-04-30 23:42] exextoc commented on #130
Can you clarify what the "... cannot be displayed in a frame" error is? (do you have a screenshot of the issue) Also what version of Outlook are you on? OWA, Mac, Desktop Outlook etc.

[2021-05-01 00:25] elthombre commented on #130
Hi it was OWA but I'm not on that project any longer.

[2021-05-03 20:53] JackyChen200304 opened #133 "Should use Office.ribbon.requestUpdate(data) instead of OfficeRuntime.ui .getRibbon()"
In https://github.com/OfficeDev/PnP-OfficeAddins/blob/3ce0e1b74152dbbe8306a091696bc4455c04c0a1/Samples/excel-shared-runtime-scenario/utilities/office-apis-helpers.ts, it is still using the beta version ribbon syntax in updateRibbon().

@davidchesnut  Please update to use the GA version namespace Office.ribbon.requestUpdate().

[2021-05-04 19:44] davidchesnut commented on #27
I think this issue is referring to a really old sample that doesn't exist anymore. There are updated samples to take a look at here [https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth).

Please let us know if you encounter any issues in the newer samples.
Thank you,
David

[2021-05-04 19:44] #27 closed

[2021-05-05 15:59] exextoc commented on #130
Can you share the scenario when you are seeing this issue? Also a screenshot of the error will be helpful.

[2021-05-05 17:31] elthombre commented on #130
I'm not on that project any longer, sorry

[2021-05-06 06:17] nvazhayil opened #134 "ShowTaskpane URL"
**Question**

Referring to the sample under https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/office-contextual-tabs , the action type "ShowTaskpane" is mapped to URL "Taskpane.Url".

I want to add another button in the context tab which should launch another task pane. something similar to how we achieve this with manifest.xml
`<Control>`
 `<Action  xsi:type="ShowTaskpane">`
`

[2021-05-07 21:20] nancy-wang commented on #134
Thanks for this question @nvazhayil ! I've tagged someone from our team to investigate further.

[2021-05-10 15:50] davidchesnut commented on #134
Hi @nvazhayil,

To open a second task pane, you need to make the following adjustments to the ribbon JSON.
1. In the "actions" section, add an action to describe the new task pane. You must specify a "sourceLocation" value.
[code]
2. In the "tabs" where you want a button to appear to display your second task pane, add a control that references the id of the action:
[code]
Some additional notes:
-

[2021-05-10 19:11] nvazhayil commented on #134
Thanks David. That worked.

[2021-05-10 19:11] #134 closed

[2021-05-11 14:56] #130 closed

[2021-05-14 19:57] AlexC84 opened #137 "Invalid manifest: office-contextual-tabs"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/office-contextual-tabs

**Describe the bug**

Upload manifest and see a dialogue telling me the manifest is invalid

**To Reproduce**

1. Download the manifest.xml file from this sample to a folder on your computer.
2. Open Office on the web.
3. Choose Excel, and then open a new document.
4. Open the Insert tab on

[2021-05-14 20:17] AlexC84 commented on #137
Sorry, issue was that after downloading the manifest.xml file it looks as though it was modified - lots of extra line breaks and potentially other things. The virus scanner scanned it as it was downloaded.

Fixed it by copying the contents of the manifest from the github repo and pasting back into my local copy

issue closed.

[2021-05-14 20:17] #137 closed

[2021-05-19 07:30] vdboots opened #139 "Outlook signature: The operation on mailbox failed because it's out of the current user's write scope."
When i try to sideload the app on a non admin user. Or publish it to a user as test by using exchange Add-ins it won't come forward.

The error message i get is:
`Outlook signature: The operation on mailbox failed because it's out of the current user's write scope. `

it seems to only work on domain admins.

[2021-05-19 11:37] nvazhayil opened #140 "Contextual tab ExecuteFunction is not working in excel on web"
Referring to https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/office-contextual-tabs, I have implemented contextual tab. There are buttons with type as "ExecuteFunction" and "ShowTaskpane". Both the types work in Excel on Windows. But, in Excel on web, clicking on a button which as type "ExecuteFunction" is not doing anything. The mapped function is not getting executed. "ShowTask

[2021-05-21 23:47] davidchesnut commented on #140
Hi @nvazhayil,

I suspect you are running into a bug where Office sends the same event.source.id no matter which button you click on. This only happens on the web. I wrote a function named **runRibbonAction** in the commands.js file which checks event.source.id and because it is always `btnSubmit` that is the only function called.

This is because I mapped all actions for all buttons in the ribbon

[2021-05-22 13:17] nvazhayil commented on #140
Hi David,

Are there any logs that are created/updated for this feature? I intend to use contextual tabs extensively. It will be helpful if there is a logging mechanism that captures issues if any.

Thanks.

[2021-05-22 19:45] JuaneloJuanelo commented on #139
Hello Vincent (@vdboots )  can you add more info just to make sure we diagnose properly:
1. Exchange configuration (it is online? on Premise and what version
2. In what platform you are trying this? And what version.
3. How are you deploying the add-in?  is the person receiving the add-in has the minimal client requirements?

[2021-06-10 07:00] #139 closed

[2021-06-13 14:05] nvazhayil opened #173 "Office.ribbon.requestUpdate is throwing exception : The API you are trying to use is not available. It may be available in a different scenario."
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-contextual-tabs

**Describe the bug**

Followed instructions mentioned in https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-contextual-tabs
Loaded the manifest, clicked on "Import Data" and the table showed up. Clicked on the table and the context tab did not show up. Instead there was an

[2021-06-14 17:25] AlexJerabek commented on #173
Hi @nvazhayil,

Thanks for reporting this. I could not reproduce this issue. It doesn't look like anything in the PNP changed in the last week. Let me assign this to @sohailzafar to investigate from the product side.

[2021-06-15 03:22] nvazhayil commented on #173
I can reproduce with both the manifest files.

[2021-06-16 18:50] Rick-Kirkham commented on #173
I'm not able to reproduce this. The sample works as described for me.
![SnipImage](https://user-images.githubusercontent.com/9088056/122275808-f8d52080-ce98-11eb-8734-5c9627e346e4.JPG)

[2021-06-16 20:29] nvazhayil commented on #173
It's working for me as well now. Did anything change? what could potentially throw the exception "The API you are trying to use is not available. It may be available in a different scenario."? I used to get this every time in the past few days.

[2021-06-16 20:41] Rick-Kirkham commented on #173
I can only speculate that some Office online servers had not been updated with the version of Office that recognizes the API, and you were hitting one of them. Otherwise, @sohailzafar may know.

In the meantime, I'll close this issue.

[2021-06-16 20:41] #173 closed

[2021-06-17 17:56] nvazhayil opened #174 "Context tab : Visibility(Show/Hide) of a button with Office.ribbon.requestUpdate"
https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-contextual-tabs

**Describe the bug**
In this sample, I have seen the usage of Office.ribbon.requestUpdate() to Enable/Disable a button. Office.ribbon.requestUpdate takes [RibbonUpdaterData](https://docs.microsoft.com/en-us/javascript/api/office/office.ribbonupdaterdata) as it's parameter.
One of attribute of RibbonUpdaterData

[2021-06-18 16:39] Stephen-C-Butler opened #175 "Error thrown in AttachmentDemo for Outlook SSO sample"
**Question**

Regarding:  PnP-OfficeAddins/Samples/auth/Outlook-Add-in-SSO/

When I run the sample code inside an Outlook desktop client, select a message with an attachment, and click "Choose Attachments" it throws this error:

JavaScript critical error at line 150, column 11 in https://localhost:44355/Scripts/MessageRead.js\n\nSCRIPT1004: Expected ';'

That refers to the top line here from Messa

[2021-06-18 17:18] AlexJerabek commented on #175
Thanks for reporting this @Stephen-C-Butler.

@Rick-Kirkham, could you please take a look?

[2021-06-18 17:32] Stephen-C-Butler commented on #175
I am not a Java coder.  So, noob alert.

My own research is making me suspect that I am using a browser which does not support the async/await functionality.  I am reading that this was introduced in JScript 1.7.

I go to this link using the machine/browser on my tools box.
http://jsfiddle.net/Ac6CT/
That tool tells me I am using version 1.7, but I also read that Microsoft has a version of JScript

[2021-06-18 18:44] #133 closed

[2021-06-19 07:21] vdboots opened #176 "Signature won't show on outlook for mac"
**Outlook-set-signature**

**Describe the bug**

The plugin works well on outlook for windows and outlook for the web. but the signature wont show on outlook for Mac.

**To Reproduce**

Steps to reproduce the behavior:
1. Set template to insert a button
2. _click on the Test button(signature won't show)
3. click on apply
4. open new mail. No signature is added to the new email

**Expected behavior

[2021-06-19 07:30] #176 closed

[2021-06-19 07:31] vdboots commented on #176
I see api 1.10 is needed for this.

[2021-06-24 14:33] theogumilang opened #178 "Unathorized when save attachmment on outlook web"
Hi, So I tried to run this repository
https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO.
I already set all the requirements like app registration etc. And it's already running on my outlook desktop. But when I tried to run the add-in on the Outlook Website I always get the 401 Unauthorized code.  the message is always
`Authorization has been denied for this re

[2021-06-25 16:14] AlexJerabek commented on #178
Thanks for reporting this @theogumilang.

@ElizabethSamuel-MSFT, can you please take a look?

[2021-06-25 18:40] davidchesnut commented on #178
Hi @theogumilang,

Can you provide any more information about the call returning the 401? Which API is it calling (like /api/saveAttachments?) Which headers is the call passing?

Thanks!
David

[2021-06-26 13:20] vdboots opened #180 "outlook-set-signature. npm ron build not working as aspected."
**outlook-set-signature**

**autorun not working anymore after running build and uploading it.**

After running npm run build and uploading it to azure storage or other parts. The solution is not working anymore. After the polifill has done its job  on outlook for desktop it is not working

**Expected behavior**

Autorun should give same result as in produtction build as dev

**Environment**
- Pla

[2021-06-28 16:16] AlexJerabek commented on #180
Hi @vdboots,

Thanks for reporting this. @ElizabethSamuel-MSFT, can you please take a look.

[2021-06-29 17:11] ElizabethSamuel-MSFT commented on #180
@vdboots Can you try the instructions found in the following article if you haven't already? For example, your manifest should no longer reference localhost.

[Publish an add-in developed with Visual Studio Code](https://docs.microsoft.com/office/dev/add-ins/publish/publish-add-in-vs-code)

Let us know if that helps.

Thanks.

[2021-07-01 15:07] LiamSolDev opened #183 "Enabling App Service Authentication causes word add-in to open in browser rather than in the task pane."
**Enabling App Service Authentication causes word add-in to open in browser rather than in the task pane.**

At client request we have enabled the App Service Authentication (Classic), setting screenshot bellow.
![image](https://user-images.githubusercontent.com/44843976/124145393-a8f37d80-da84-11eb-97c5-f8b0a06d37a5.png)

Our application still runs within the online version of word with no issue

[2021-07-06 17:53] lindalu-MSFT commented on #183
@davidchesnut Hi David, can you help triage this issue?

[2021-07-06 22:00] #180 closed

[2021-07-07 21:59] kudecha commented on #178
Hi David,
I am facing the same issue as described above.
I can successfully install the Outlook add-in and invoke it as well, which shows list of attachments.
However,
After selecting an attachment and clicking 'Save selected' button, it fails with 401 Unauthorized response.
Message is: Authorization has been denied for this request.
I can see 'Authorization' header with 'Bearer {accesstoken}' and

[2021-07-08 15:39] davidchesnut commented on #178
Hi @kudecha,

I assume you are just running the sample with no modifications (other than configuring it with an Azure registration?) I think the audience value in the token is different when you get the user token from getAccesstoken() versus signing in the user with a form. getAccessToken will set the audience to your app registration as the intended audience. Signing in the user sets the audienc

[2021-07-10 00:02] davidchesnut commented on #183
Hi @LiamSolDev,

Depending on how you've modified the sample, you'll want to be sure you are using the dialog API for the UI, and not the task pane. See  [Authenticate and authorize with the Office dialog API](https://docs.microsoft.com/office/dev/add-ins/develop/auth-with-office-dialog-api) for more info.

If that's not it, see if you can monitor the network traffic with something like Fiddler. S

[2021-07-12 12:32] LiamSolDev commented on #183
Hi David,

Thank you for you help.
I have re-installed the base sample and it works as expected.

I am trying to understand what the load order is for the solution so that I can find at what part this authentication is called and is opening in the browser.

I have re-added the functionality to the SSOAuth and SSOAuthES6 as these appeared to be loaded first but this has not been enough- is the auth

[2021-07-13 20:38] kudecha commented on #178
Hi David,

Any updates on this issue?

I had a typo in my previous message as well.
old: If I uncomment [Authorize] attribute on SaveAttachmentsController, it would hit 'Post' function.
NEW: If I **_comment_** [Authorize] attribute on SaveAttachmentsController, it would hit 'Post' function.
so,
on commenting authorize attribute, it would hit POST function, but again it would show popup on app, whe

[2021-07-13 23:37] Rick-Kirkham commented on #183
@LiamSolDev Your symptoms remind me of the first 2 paragraphs of this section in the docs: [Specify domains you want to open in the add-in window](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1#specify-domains-you-want-to-open-in-the-add-in-window). After reading that, I suggest that you use the Fiddler tool, as David suggested, to determine what domain t

[2021-07-14 15:40] LiamSolDev commented on #183
Hi Rick,

I have some more information on this, it turns out some of my initial testing was in error.

No sample works with authentication turned on in the app service.
Will all implementations causing it to open in a new window.
Our client has been insistent that this authentication is turned on unless we can prove that it is impossible to do so.
Have you ever sucessfully deployed a word add-in w

[2021-07-15 18:18] Rick-Kirkham commented on #183
@LiamSolDev I can't find that "App Service ... " UI on my Authentication page. Different kinds of subscriptions in Azure can have variant UIs. Can you please give me the step-by-step procedure you use to get that UI on the screen?

[2021-07-16 07:34] LiamSolDev commented on #183
Hi Rick,

This is on the App Service that is hosting the application so that it is web accessible.

I set up the app service with the following options:

  *   Publish: Ensure Code is Selected

  *   Runtime stack: Node 12 LTS

  *   Operating System: Windows

Though we have seen the same Authentication screen on both windows and linix.

Once on the app service - select "Authentication (Classic)"

[2021-07-16 16:59] Rick-Kirkham commented on #183
@LiamSolDev Sorry, but I still don't understand how to get to that UI. I really need painfully explicit instructions; open this, navigate to this, then click this. etc.

I presume it is in the Azure portal. Let's say I'm on the home page of the portal. What do I click first? Then what? etc.

[2021-07-19 00:43] kudecha opened #187 "Unable to get outlook add-in scopes or user identity"
Hi,

I have used repository at https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO to develop my first ever outlook web add-in. I have taken all steps suggested to register app to Azure as well with necessary changes to code.

The add-in requires to identify user without logging-in (similar to what Dynamics 365 outlook add-in does) and allow me to interact with

[2021-07-19 12:53] LiamSolDev commented on #183
Hi Rick,

This is on a deployed app being hosted on an Azure App Service with the following settings.
Once the App Service is setup you can navigate to the Authentication services by doing the following navigation

From the Azure Portal, search at the top for "App Services" and select it.
In app services select the App Service that your work add in is currently deployed to.
From the opened app ser

[2021-07-19 23:33] davidchesnut commented on #183
Hi Liam,

Checking with our team it looks like you can see this behavior (popping out into a separate browser) when your add-in gets a redirection to a domain that is neither a subdomain of your [SourceLocation](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/sourcelocation) nor a domain listed under your [AppDomains](https://docs.microsoft.com/office/dev/add-ins/reference/manifes

[2021-07-20 00:10] davidchesnut commented on #178
Hi @kudecha,

Yes, if you comment out the [Authorize] attribute then the auth token is not validated (so the call will go through as you see.) Obviously we want to validate any tokens coming in to the server.  Since you can see the bearer token, drop the token string value into this site: https://jwt.ms/  This will decode it so you can see all the claims. There should be an audience (aud) claim an

[2021-07-20 00:17] davidchesnut commented on #175
Hi @Stephen-C-Butler,

Thanks for catching this! The sample needs a polyfill added so it can work for ES5 on older browsers. I put this on the backlog to fix the sample.

[2021-07-20 11:56] Stephen-C-Butler commented on #175
Hmm …

The most current version of Microsoft Edge is an “older browser”?

From: David Chesnut ***@***.***>
Sent: Monday, July 19, 2021 7:18 PM
To: OfficeDev/PnP-OfficeAddins ***@***.***>
Cc: Butler, Stephen C. ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [OfficeDev/PnP-OfficeAddins] Error thrown in AttachmentDemo for Outlook SSO sample (#175)

This message is from an EXTERNAL SENDER

[2021-07-20 14:26] LiamSolDev commented on #183
Hi David,

One thing we had already tried was adding all the address from the fidler trace to the App domains section and this did not resolve the issue.
![image](https://user-images.githubusercontent.com/44843976/126341196-e77d4a83-451f-4db0-8d9f-765eabd44a5a.png)

I am unsure why the trace is using HTTP? sorry I am inexperienced with fiddlr

[2021-07-20 15:53] davidchesnut commented on #187
Hi @kudecha,

Sorry this hasn't been working properly for you. I saw you also asked this same question on #178. The most likely scenario is that there is a configuration problem. I'd go through the readme steps again for the app registration and just double-check it is all configured as expected. Also double-check the manifest that it has the correct client id. Office uses the configuration inform

[2021-07-20 16:00] davidchesnut commented on #183
Hi @LiamSolDev,

Thanks for that screen shot as it is super helpful. You need to specify the protocol and port as well, for example `https://login.windows.net:443`. See https://docs.microsoft.com/office/dev/add-ins/reference/manifest/appdomain for full details on how to fill out the AppDomain. BTW: I'm not sure if you need all of those domains. If you get it working you should try backing some of

[2021-07-20 16:04] davidchesnut commented on #178
Closing this issue as the conversation has moved to #187

[2021-07-20 16:04] #178 closed

[2021-07-20 17:01] #98 closed

[2021-07-20 17:43] davidchesnut commented on #84
Hi @abhsha,

I'm sorry for the late response on this issue. Can you confirm if you are still seeing this behavior? Also can you confirm if this is the sample where you see the bug behavior? https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-Microsoft-Graph-ASPNET

I see the popup auth dialog closing correctly. So please let me know if I'm looking at the correct sam

[2021-07-21 13:38] LiamSolDev commented on #183
Hi David,

We tried adding the https and port but it made no difference.
![image](https://user-images.githubusercontent.com/44843976/126498038-10cd52ab-255b-477b-88e3-5e99a8d12f10.png)

Have you been able to get this working before?

Kind Regards,
Liam

[2021-07-21 22:40] davidchesnut commented on #183
Hi @LiamSolDev,

I tried setting up a simple ASP.NET server just to try out the app service authentication with similar settings as yours. I tested just browsing to the home HTML page to see how it would act. It redirects to a login page.

I believe this may be what you are seeing.
1. Office requests the task pane's HTML page.
2. Azure sees this as an unauthenticated request and redirects to login

[2021-07-22 07:35] LiamSolDev commented on #183
Hi David,

Thank you and @Rick-Kirkham for all of your help so far :)

So to confirm do you believe that it is not possible to get this working within an office add-in or do you think it could be managed through the dialog API (not something I am familiar with), but since the redirect is happening before any code loads I am not confident that we could make use of any code based solution. I do not

[2021-07-22 20:52] davidchesnut commented on #183
Hi @LiamSolDev,

Kind of a lot to try to answer here. :-) Yes Ricky and I work for Microsoft on the Office Add-ins team doing docs, samples, tutorials, and working with the rest of the engineering team. You're reaching out to a good source. I've been consulting with the engineering team as we go along.

1.  If you can reach out to CSS they can provide good help on your auth scenario. They'll know

[2021-07-22 21:54] elegault commented on #187
+1 on this exact issue! I've triple checked the app registration and the add-in manifest and the JWT decode. I've done something very similar in a different project for a PowerPoint add-in and never got this issue. But still not sure how this issue could be specific to this repo yet.  Note that I have not previously granted the app registration admin consent to the Graph scopes - I want the user t

[2021-07-23 11:35] LiamSolDev commented on #183
Hi David,

Thank you again for all your assistance.
Thanks to your feedback, we have now stopped the authentication from popping out to a new window.

Is there anywhere I can go to write a review or give you a +1 :) You two deserve it!

Time to get back to programming rather than bug fixing- thank you for all your support.

[2021-07-23 11:35] #183 closed

[2021-07-23 17:05] AlexJerabek commented on #183
Hi @LiamSolDev,
Thanks for the kind words about @davidchesnut and @Rick-Kirkham. Glad they could help unblock you and let you get back to the fun part of the job.

[2021-07-23 21:29] elegault commented on #187
Some questions and thoughts: isn't there a requirement that any domain used in an App ID URI for SSO purposes be a valid, owned domain (like using azurewebsites.net for an Application Service)? Is localhost exempt from this somehow? Could this be related to this issue?

Similarly, debugging an SSO add-in seems to require providing pre-consent to the App Registration in advance. The side-loading st

[2021-07-26 15:40] elegault commented on #187
After thinking more about this issue over the weekend, and moreso in the context of the Outlook-Add-in-SSO project, the answer is clear as to why calls to SaveAttachmentsController with the Authorize attribute are failing: it is because there is no ASP.NET Identity integration in the project.  So, a previously authorized user is expected, but never actually signed in.  Until code for that is imple

[2021-07-26 17:13] elegault commented on #187
Ugh - correction: there IS Identity integration.  It's in the AzureADAuthController; it's Login method has to be called from the client script in MessageRead.js.  However, the conditions for calling Login() is entirely based on whether the dialogFallback() method is called in the script.  As the comments say: "For all other AAD errors, fallback to non-SSO sign-in".  I'm not certain that's true tho

[2021-07-26 18:03] davidchesnut commented on #187
Hi Eric,

The Login method on AzureADAuthController is used when SSO has failed and you have to fallback to popping up a dialog to log in the user yourself. In the SSO success scenario it won't be called because the user is already signed in to Office and you get their user token from Office (thus no need to login again.)

The [Authorize] attribute is configured in Startup.Auth.cs. You can see for

[2021-07-27 22:00] #84 closed

[2021-07-29 21:51] elegault opened #192 ""Office.js has not fully loaded" when debugging Outlook-Add-in-SSO sample in Outlook for Windows"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO

When side-loading the manifest (or directly uploading the manifest on the "My add-ins" page) and starting Outlook for Windows, the task pane loads blank (with script errors in Visual Studio and from the F12 Chooser app's debugger).

**To Reproduce**

Steps to reproduce the behavior:
1. Start

[2021-08-01 21:34] kudecha commented on #187
Hi Everyone,

Thanks for your valuable inputs throughout this period.

I have finally figured out what's wrong and applied the change.
It's to do with the App Registration within Azure.

Here is the fix:
Update App Registration manifest file attribute 'accessTokenAcceptedVersion' with value '2' (it should be 'null' as default value).
Even though 'null' value is supposed to be used as v2 of SSO tok

[2021-08-02 20:22] davidchesnut commented on #187
Thanks @kudecha, this is super helpful!

I was able to reproduce this behavior by changing the registration type to "Accounts in any organizational directory (Any Azure AD directory - Multitenant)". The issuer and audience claims will change in the token causing the authorization failure in the sample. Then I edited the App Registration manifest to set 'accessTokenAcceptedVersion' to '2' as you sa

[2021-08-02 20:22] #187 closed

[2021-08-19 08:17] mvegaca opened #199 "Issue loading the Outlook-Add-in-SSO"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO

**Describe the bug**

I was trying to run this sample, I was following all the configuration steps in the readme.md file, and I'm getting an error loading the component.

**To Reproduce**

1. Follow all the steps in readme.md file to finally get the Application ID and the Client Secret, and

[2021-08-19 20:09] davidchesnut commented on #199
Hi @mvegaca,

Looks like the add-in loads and shows you a list of attachments. And then it fails when you attempt to save them. It's most likely something to do with the app registration. I'd double-check all the readme steps to be sure the app registration was set correctly. Also make sure the AttachmentsDemo.xml manifest has the correct ID (in both spots) and the web.config has the correct ID an

[2021-08-19 23:21] aafvstam commented on #199
@mvegaca,

What version of Visual Studio did you use? I tested this using Visual Studio 2022 Preview and this failed for some obscure reason. I then switched to Microsoft Visual Studio Enterprise 2019 Preview Version 16.11.0 Preview 4.0 and that did work properly.

So I see two options:
a) You missed a step in the registration as @davidchesnut also mentioned (there are a lot of steps and it is eas

[2021-08-20 07:56] mvegaca commented on #199
Hi

Yesterday at the end of the day, it works on Outlook Desktop, but stills happen on the web, it was working and the sample saves the attachments files to the sign in account onedrive, it's fine. But it still failing on Google Chrome.
Is it any possibility to specify debug only in outlook for desktop?

[2021-08-20 19:47] davidchesnut commented on #199
Hi @mvegaca,

Okay, yep, if it works in Outlook desktop then your app registration is good. I tested the sample again in Chrome just to be sure something hasn't changed, and it is working.

At this point I'd try some debugging techniques to get some more information.
- Use the developer debug tools in Chrome to see if there is any output to the console indicating errors or problems loading.
- Use

[2021-08-23 08:23] mvegaca commented on #199
Hi David,

This morning i was trying to debug it in chroome and it works! I'm not sure why happens this, but I've observe this fail in other scenario.

I add my app client ID and my app secret, F5 and it works.
I copy the sample folder (removing .vs, packages, bin and obj folders) to a new folder in desktop.
I run the coppied proyect and it fails with the same error on loading (also with Outlook D

[2021-08-31 17:18] davidchesnut commented on #199
Hi @mvegaca,

Did you do a rebuild on the project in the new folder with no errors? You need the bin folder because it will build the correct manifest for loading there. If you rebuild it should generate the correct bin folders and files.

Thanks,
David

[2021-09-01 11:08] mvegaca commented on #199
Hi,

I keep finding this error even if I work with this sample or creating and debugging a new outlook add-in blank project.

This error is documented here and I'm applying the workaround but the error is still happening.
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting

I've no errors if I deploy the web app to an azure app service but I can not debugg the c

[2021-09-03 04:29] camnealie opened #201 "Samples/auth/Office-Add-in-NodeJS-SSO/SSOAutoSetup fail on npm start"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO

**Describe the bug**

Running through the steps:
1. npm install works (ofc)
2. npm run configure-sso works (very clever btw)
3. npm start fails!

Error: Cannot find module '/Users/camnealie/Downloads/PnP-OfficeAddins-main/Samples/auth/Office-Add-in-NodeJS-SSO/SSOAutoSetup/src/bin/www'

[2021-09-03 17:31] AlexJerabek commented on #201
Hi @camnealie,

I tried reproing this and had the same issue. What's the output of your `npm run configure-sso works` step?

[2021-09-03 17:38] davidchesnut commented on #201
Hi @camnealie,

Looks like we forgot to copy the bin folder over from the old project when we moved the sample to this repo. You can find and copy the correct files at https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/tree/master/SSOAutoSetup/src/bin

I'll submit a PR to fix this soon. Thanks!

[2021-09-03 19:42] #201 closed

[2021-09-04 01:11] camnealie commented on #201
Hey just confirming it works with the copied bin folder, thanks for the fast reply on this

[2021-09-07 19:41] davidchesnut commented on #199
Hi @mvegaca,

If new projects are failing there's definitely something up with the configuration of Outlook on Windows. You should try [clearing the Office cache](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache) and see if that helps.

BTW: Can you please confirm which version of Outlook you are using? The one listed at the beginning of this thread looks odd as the current

[2021-09-07 19:43] davidchesnut commented on #192
Hi @elegault,

In the screen shot there is a missing semicolon after the brace on line 154. Probably was accidentally deleted or something. But please let us know if there are still issues with this sample.

Thanks!
David

[2021-09-07 19:43] #192 closed

[2021-09-08 07:46] mvegaca commented on #199
Hi

I've tried to remove the cache removing the content of cache folders, then run the project again.

Now I have a different error

![image](https://user-images.githubusercontent.com/5556784/132467396-737c1b61-f142-4a83-8bfa-867329b6650e.png)

If I close the add-in pane, select a different mail and open the add-in, I've got the load error.

This is the version information
**Microsoft® Outlook® fo

[2021-09-14 21:49] aafvstam commented on #199
I have seen the exact same error while using **VS 2022 Preview** and killed the repo and did it all over again with **2019 Preview Version 16.11.0 Preview 4.0** and that ran without issues. This was what I posted august 20th. I'll upload the video to YouTube as an unlisted video for @davidchesnut to have a look.

[2021-09-16 21:05] davidchesnut commented on #199
@aafvstam and @mvegaca thanks for noting this. I've seen this error before and there is a workaround described here: https://stackoverflow.com/questions/32780315/could-not-find-a-part-of-the-path-bin-roslyn-csc-exe However I updated the Nuget package as described in PR #205. Can you give that PR a try and see if it fixes the error for you? I'd like to fix this without requiring a workaround. Thank

[2021-09-16 23:53] aafvstam commented on #199
Done, and created a PR #206 on #205 iron out some wrinkles 😉

[2021-09-16 23:57] davidchesnut commented on #199
@aafvstam awesome! Thanks!

@mvegaca I merged the fixes into the sample, can you confirm if this works for you? Thanks!

[2021-09-17 06:47] mvegaca commented on #199
Hi
I think that the roslyn error is fixed but I still haven issues with the loading error.
![image](https://user-images.githubusercontent.com/5556784/133737187-55f7222c-3ba9-4809-90d8-13df54087408.png)

I hope that it doesn't fail in your machines could be a problem on my dev env.

[2021-09-17 09:26] aafvstam commented on #199
@mvegaca Is that in Outlook Client or Outlook on the Web? Seen the above error **before** the fix but went away after reloading so it could be a timing issue. Can you try both Web and Client to see what the result is (you can easily switch target as described in README.md:

`
Select the AttachmentDemo project in Solution Explorer, then choose the Start Action value you want (under Add-in in the pr

[2021-09-17 09:49] mvegaca commented on #199
Hi @aafvstam it also fails en web browser (edge and chrome).

![image](https://user-images.githubusercontent.com/5556784/133761550-aa15b7d8-0968-4970-8f5d-25235c25054e.png)

The code is sync with the repo and the only modifications is for ID a new GUID and adding the Azure App Registration ID and Secret

![image](https://user-images.githubusercontent.com/5556784/133763194-fc2fd6d5-b2fb-4965-98d4-2

[2021-09-17 15:53] falsadoo opened #207 "Outlook-Add-in-SSO api/saveAttachments 401 error"
**Question**

I have followed he steps listed in the readme when i run the app i keep getting 401 error trying to post saveattachments endpoint. when i run the add in using the fallback dialog it works just fine. any help will be very appreciated. I am testing the addin using outlook web on edge.

[2021-09-17 16:31] aafvstam commented on #199
A few more questions:

What is your startup property for multi-factor (below the startup option)?
If you right click the taskpane, inspect (open the developer pane) and reload, do you see any specific errors pass by?
Is the user email the same as the Azure App Registration account?
If not is, it on the same Tenant?
Did you see any 'consent' dialogs between startup and the error pane that asks you

[2021-09-17 16:31] aafvstam commented on #199
A few more questions:

What is your startup property for multi-factor (below the startup option)?
If you right click the taskpane, inspect (open the developer pane) and reload, do you see any specific errors pass by?
Is the user email the same as the Azure App Registration account?
If not is, it on the same Tenant?
Did you see any 'consent' dialogs between startup and the error pane that asks you

[2021-09-17 23:06] davidchesnut commented on #140
Hi @nvazhayil,

Just wanted to let you know this has been fixed. Can you please let us know if you are still seeing any issues? Sorry for the late follow-up on this. To answer your question on logging bugs, we track all customer reported bugs at https://github.com/OfficeDev/office-js/issues. If you find anything that looks like a bug, please let us know at https://github.com/OfficeDev/office-js/is

[2021-09-19 15:15] aafvstam commented on #199
It is annoying the issue was not persistent, I tried on another machine and found the issue **one** time, after that it worked on every run.

So, I updated all packages in the repo to the latest version and pushed PR #208 in after testing this on Outlook for the Web in Edge and in Chrome. Also tested in Outlook for Office Client on the desktop. Feels much more responsive to me but maybe I'm biased

[2021-09-20 07:55] mvegaca commented on #199
I think the Issue is not related with this sample, is a problem of Outlook Web AddIn template.

I've done the following steps

- Create a new Outlook Web AddIn project
- Set manifest file as startup project
- Set Use multi-factor auth to True
- Set Start Actio to Office Desktop Client
- Run the app
- Do loggin with the loggin promp
- The outlook client is opened
- Click on Display all properties b

[2021-09-20 19:14] aafvstam commented on #199
The reason for this to fail is that you changed the startup from **both projects** (Multi Startup) into **one project** (Single Startup). Only the installation of the Outlook Add-in is started by selecting the Manifest project (OutlookWebAddin) as startup project.

At the time you run the add-in Outlook tries to load the 'website' that should have been served by starting the second project. Becaus

[2021-09-21 06:33] cgaranip opened #209 "Minimize/Expand taskpane (Office add-in Excel) feature when only one taskpane is open/active"
Hi,

In the sample code: PnP-OfficeAddins/Samples/excel-keyboard-shortcuts/

I would like to know how the minimize/expand icon appeared on the side vertical bar? is it in-built functionality of using "excel on web"?
Attached the picture with highlight to know what I mean.
![MinimizeExpand](https://user-images.githubusercontent.com/85703760/134121725-6d8eadf4-45fe-429e-b32d-84f44d4faf5b.PNG)

in my

[2021-09-21 06:40] cgaranip opened #210 "ExtendedOverrides element of Manifest error"
Hi,

Sample Code:  PnP-OfficeAddins/Samples/excel-keyboard-shortcuts/

When creating an Office.js Add-in in Visual Studio 2019, adding the ExtendedOverrides element to the manifest, in order to be able to add keyboard shortcuts, the following error is thrown:

Error: **The element 'OfficeApp' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.1' has invalid child element 'ExtendedOve

[2021-09-21 07:31] mvegaca commented on #199
It makes sense, but It fails with the multiple startup project option, in fact, when I create an Outlook Web AddIn project the generation resulting code is configured to be executed with multiple startup projects and it fails.

[2021-09-21 08:59] #140 closed

[2021-09-21 15:00] aafvstam commented on #210
The element used "ExtendedOverride" is optional but if is used it should come after "VersionOverrides"
[ExtendedOverrides Element](https://github.com/OfficeDev/office-js-docs-pr/blob/1983a874eb2e89ba522aeffcb8e36d2f5c8d66ac/docs/reference/manifest/extendedoverrides.md#can-contain
)
In your case this looks OK:
[Work with Extended Overrides of the manifest](https://github.com/OfficeDev/office-js-doc

[2021-09-21 15:49] AlexJerabek commented on #207
Thanks for reporting this @falsadoo.

@ElizabethSamuel-MSFT, could you please take a look?

[2021-09-21 15:51] AlexJerabek commented on #209
Hi @cgaranip,
I don't believe that element of the task pane layout is configurable by an add-in. @Rick-Kirkham, could you please confirm?

[2021-09-21 18:35] aafvstam commented on #199
It is working without issues at my side (as you can also see at my properties image above).

Somehow your "Server" is not serving in the context of your Outlook desktop client, so let's do some more tests.

Set your target to Office Desktop Client and start the application by selecting the Solution and hit F5
This should start both loading the Add-in (manifest project) and start a web server at th

[2021-09-21 20:31] cgaranip commented on #209
so are you saying that side bar with hide/show icon might be default only for excel on the web? not available for stand alone local excel apps using office add-ins?

[2021-09-21 21:09] cgaranip commented on #210
Thank you for your reply!!

my office.js and VS 2019 are up to date. I tried links as mentioned above as well. but it did not resovle the issue.

I am trying to add keyboard short cuts to my excel add-in to show/hide taskpane. So I tried to add extendedoverrides element to my manifest file and it throws above mentioned error. I checked one of the xsd files TaskPaneAppVersionOverridesV1_0.xsd file

[2021-09-22 00:43] cgaranip commented on #210
Resolved the issue from another source. Thank you for all your help!! appreacite it!
xsd was not up to date with ExtendedOverrides element for VS 2019 installation.
Please refer to the resolution as below
https://github.com/OfficeDev/office-js/issues/2132

Please close the issue.

[2021-09-22 00:43] #210 closed

[2021-09-22 12:53] mvegaca commented on #199
Hi @aafvstam

I've tried this following theses steps

Create a new Outlook Web AddIn Project (VS 2019 Enterprise)

Update Manifest project properties
 - Set Start Action to Office Desktop Client
 - Set Multi-Factor Auth to true

Run with F5
 - Login with company email address
 - It fails on Outlook

Open in browser
 - https://localhost:44353/MessageRead.html
 - It works, I can see the page without

[2021-09-22 16:22] AlexJerabek commented on #209
Yes, how the add-in task pane is contained and displayed within Excel is determined by Excel. The content of the task pane is controlled by your add-in.

[2021-09-22 18:21] Rick-Kirkham commented on #209
Alex is correct. That part of the UI is not configurable by the add-in developer. I'll close this question for now, but you can still comment if you have further questions on this issue.

[2021-09-22 18:21] #209 closed

[2021-10-06 17:39] nancy-wang commented on #207
@ElizabethSamuel-MSFT - wanted to make sure you were aware of this bug. thank you!

[2021-10-07 19:53] davidchesnut opened #214 "Need cross-platform Outlook SSO sample"
The https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO sample requires ASP.NET and cannot run on Mac. Create an Outlook SSO sample that uses Node.js to support cross platform development work.

Created based on customer suggestion: https://github.com/OfficeDev/office-js-docs-pr/issues/2955

[2021-10-14 16:56] reallyblackbuffalo opened #215 "Missing bin/www file in Before and Complete folders of Office-Add-in-NodeJS-SSO sample"
**URL of sample**

https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO

**Describe the bug**

The package.json file's start script references ./bin/www in both the Before and Complete folders, but that file isn't there. In the SSOAutoSetup folder the start script references src/bin/www (since the folder structure is slightly different) and it's there. I'm

[2021-10-15 22:39] #215 closed, assigned to davidchesnut

[2021-10-15 22:40] davidchesnut commented on #215
Thanks @reallyblackbuffalo, I just merged a PR to restore those files.

[2021-11-25 20:26] aafvstam opened #222 "outlook-encrypt-attachments sample did not work on Outlook Windows Client"
**URL of sample**

[outlook-encrypt-attachments](https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/outlook-encrypt-attachments)

**Describe the bug**

The Add-in seems not to be working in the Office Outlook Windows Client. Tested it successfully on the Web version but the Windows client opened with an error on top of the New Message window.

**To Reproduce**

Steps to reproduce the

[2021-12-07 21:17] yusukemasuda opened #223 "Q: Add a styled text with OpenXML (Word Web Add-in)"
**Question**

I would talk about a sample below:
- https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/word-add-in-load-and-write-open-xml

I want to add styled text to a document by clicking a button on taskpane.
However it doesn't seems to work as I expected.
I assume the sample of the code for the button 'Set Styled Text' is what I expected.
However I don't think the code would work

[2021-12-09 23:13] saaniaki opened #224 "Outlook Web SSO Enabled JS Addin"
Hello,

I have followed [this tutorial to create an SSO-enabled add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs), and I have modified it to be able to use it as an Outlook Web add-in. My problem is that the call to exchange the identity token obtained from Office object available in the browser with a valid MS Graph token is failing with the fol

[2021-12-10 07:45] RuoyingLiang commented on #223
Thanks for reaching out. @davidchesnut , could you help to take a look?

[2021-12-10 07:48] RuoyingLiang commented on #224
Thanks for reaching out. @davidchesnut, could you help to take a look?

[2021-12-10 17:45] davidchesnut commented on #224
Hi @saaniaki,

My first recommendation is to be sure that the sample works first (before you change it to work with Outlook.) Just to be sure registration and code is set up properly before making any changes.

Often errors are caused by missing a step in the registration process.
* I found a few stackoverflow answers indicating that this error is often a result of a poorly configured Application

[2021-12-10 19:06] saaniaki commented on #224
Thank you @davidchesnut!

I can confirm that I have followed the documentation step by step and everything is set up correctly. I have double-checked steps 8, 9 and 15 and everything is as expected.

Regarding the customization, I have just modified the manifest.xml file to match the one that YO generates. so nothing special there. The sample is not working on MS Word Web and it returns 13007, not

[2021-12-10 20:27] saaniaki commented on #224
One thing I have found out is that this problem could be related to the fact that our application is SAML enabled. I have a problem saving the Application ID URI. When I set it to `api://localhost:port/app_GUID` the SAML integration stops working. When I go to the Enterprise Applications and correct the Identifier (Entity ID) of the SAML settings, then the Application ID URI will be set to the Ide

[2021-12-10 23:25] saaniaki commented on #224
Okay, so something must be wrong with the settings as you said but I'm to find it. This is how I confirm this assumption:

1- I hit the `https://login.microsoftonline.com/90426024-bc1a-4e0d-92da-88bf48667326/oauth2/v2.0/token` and obtain an access token.
2- I pass it to the `https://login.microsoftonline.com/90426024-bc1a-4e0d-92da-88bf48667326/oauth2/v2.0/token` and I get the same error response.

[2021-12-13 21:42] yusukemasuda commented on #223
@RuoyingLiang @davidchesnut
Thank you for replying and a person assigned.
I am investigating with my code, but I couldn't find any new things out.
I wondered it would change something if I rebuild environment with Office refreshed up, and I did it.
However, it didn't changed anything.

I got xml by getSelectedDataAsync after I added styled text by setSelectedDataAsync, then the xml didn't include

[2021-12-14 00:47] davidchesnut commented on #224
Hi @saaniaki,

I did repro the problem where the sample won't run in Word online. For some reason it looks like the tsconfig files were somehow causing the issue. I believe they were added to make the projects backwards compatible with IE11, however since the promise polyfills are missing, I'm not sure it would have worked completely. To simplify the samples I removed all the tsconfig parts. This

[2021-12-14 16:32] saaniaki commented on #224
Hi @davidchesnut,

Thank you for your follow-up. I have got in touch with MS Support and this is a limitation of Azure when combining OAuth with SAML. To overcome the issue, I had to create two separate app registries, one which works with SAML and the other one that handles the OBO flow. It would have been nice if this information was available on the documentation.

Anyhow, I can confirm that th

[2021-12-14 16:32] #224 closed

[2021-12-14 18:32] davidchesnut commented on #223
Hi @yusukemasuda,

Thanks for noticing this. I've also reproduced this behavior so I'm tagging this as a bug in the sample and investigating. Hope to follow up soon.

Thanks!
David

[2021-12-14 19:42] yusukemasuda commented on #223
Hello @davidchesnut

Thank you for the effort to reproduce.
I hope this issue would be solved.

I wondered the target 'style.xml' on below line is a mistake of 'word/style.xml', I changed it, but it was not solved.
https://github.com/OfficeDev/Office-Add-in-samples/blob/5659bf5ef884c2ba239155f711dd4928050c8203/Samples/word-add-in-load-and-write-open-xml/C%23/LoadingAndWritingOOXMLWeb/OOXMLSamples/

[2021-12-14 21:32] davidchesnut commented on #223
Hi @yusukemasuda

Just for more information, you can also add styles with the Word API. Here's a script lab sample that shows how to add heading 2. You may find this easier to work with.

[code]

However this won't work with Word.Style.heading1. the text will get formatted that way, but it won't reflect in the ribbon (or OOXML on save.) so there seems to be something about the heading 1 style. I'm

[2021-12-14 21:55] davidchesnut commented on #223
Hi @yusukemasuda,

This code workaround will work if you set the style directly using a text string.

[code]

[2021-12-14 22:32] yusukemasuda commented on #223
@davidchesnut

Thank you for the information and sample codes.
I will try it with my code.
However, I want to add my style to a document also.
This way and to use 'style' property in paragraph are utilize existing styles.
Could you tell me how I add style with some javascript api, if you can?

[2021-12-15 00:02] davidchesnut commented on #222
Hi @aafvstam,

Thanks for noticing this. I renamed the repo to Office-Add-in-samples. But I forgot that this will break all the GitHub pages that host files for the samples. I checked in an update for all samples that fixes this. So it should work for you now.

BTW: Keep in mind that the sample will not encrypt attachments on Outlook on Windows (noted in readme) because it cannot import the crypto

[2021-12-17 21:49] davidchesnut commented on #223
Hi @yusukemasuda,

You should be able to set any customer styles by using the [Paragraph style property](https://docs.microsoft.com/javascript/api/word/word.paragraph#style). Set it to the string name of the style you want.

BTW: I also found Heading 1 does work. Sometimes you have to save the document and reload for it to reflect in the style pane in the ribbon. Not sure why but at least the OOXM

[2021-12-20 12:46] yusukemasuda commented on #223
Hi @davidchesnut,

Thank you for investigating about my issue.

Do you mean that the sample may sometimes work?
As you replied, I tried to run the sample again, but it didn't work as well as I had tried before I asked.
I also tried changed the display language and system locale from ja-JP to en-US, and reinstall the office for en-US instead of ja-JP, but it didn't change the result.

The procedure

[2021-12-31 07:21] vault79 commented on #214
Sorry for late reply in the original issue, and thank you for handling it.

I want to add one comment. I wanted to mean it's better for Mac developers to provide .NET Core based sample code instead of .NET Framework app.
If we have that sample, we can utilize learn how to implement it with newer .NET code.

[2022-01-01 22:35] FreeSoftwareServers opened #241 "webpack.config.js example for Excel keyboard shortcuts"
The sample for excel keyboard shortcuts (https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/excel-keyboard-shortcuts) talks about

 I haven't had to edit that file yet and would love more details on how to configure it.

[2022-01-03 00:30] davidchesnut commented on #214
Thanks @vault79 for that detail! Would you be developing the SSO add-in on Visual Studio for Mac and testing in that environment? Thanks!

[2022-01-03 20:47] yusukemasuda commented on #223
@davidchesnut
I tried setting style with the style property in paragraph as you told, and I could decorate my paragraphs I added by existing styles.
I could not add a new style to my document, though.
If you can add a new style with JavaScript API to the doc, let me know that, please.

Thanks,
Yusuke

[2022-01-04 12:15] vault79 commented on #214
Thank you for your quick comment @davidchesnut , but let me double check what you mean.

With [this project file](https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/auth/Outlook-Add-in-SSO/AttachmentDemoWeb/AttachmentDemoWeb.csproj), I realize that I need following technologies at least.
- .NET Framework 4.8
- IIS as web server

In my understanding, these 2 technologies can run o

[2022-01-10 21:09] davidchesnut commented on #223
Hi @yusukemasuda,

If you are creating a completely new, custom style, there's a bit of a workaround where you have to import a document with the style you want using insertFileFromBase64. Juan put together a great answer with lots of details and a Script Lab snippet here: https://stackoverflow.com/questions/68892700/not-able-to-add-styled-text-with-ooxml.

Hope this helps,
David

[2022-01-11 06:39] AkhileshShah-MS commented on #241
@dingjin-ms Could you please help with the request here?

[2022-01-12 17:36] toinetoine opened #242 "A template for an Excel Custom Functions project with a React Taskpane"
Could we get a template for creating an Excel Custom Functions project with a **React Taskpane**. There is no yeoman office generator option for this:

https://github.com/OfficeDev/generator-office#--projecttype

Attempts I have made both:

  1. To go from a React Taskpane project to adding Custom functions
  `yo office --projectType react --host excel --ts true`

  2. And vice versa: from a Custo

[2022-01-12 20:48] yusukemasuda commented on #223
Hello @davidchesnut

Thank you for providing information.
I want to try the workaround described in stackoverflow though, I cannot take a time to do it now.
I will do when I am free, maybe the end of January.

[2022-01-13 02:32] AlexJerabek commented on #242
Hi @toinetoine,

Thanks for this request. If you could, please request this additional template from the [yo office repo](https://github.com/OfficeDev/generator-office). There, members of the Office Platform Developer Experience can work with you to make the template that fulfills your scenario.

In the meantime, have you tried using the React Taskpane option as a starting point? You can add the p

[2022-01-13 08:16] kishori1912 opened #243 "home.js it should read the webconfig value?"
I want to read web config values through Home.js.

[2022-01-13 22:02] toinetoine commented on #242
Thank you for replying so soon @AlexJerabek!

I did go from react -> custom functions previously but I restarted and followed the steps you outlined directly. Running the result has the functions working 🎉 but the taskpane is blank.

![result_running](https://user-images.githubusercontent.com/1865818/149412736-4ef21e81-ec14-4984-ac6e-852c215e1555.png)

I pushed the project (with the manifest and w

[2022-01-13 22:39] davidchesnut commented on #241
The sample is not using webpack, so I'll remove that info. But if you were using it you'd need to add something like the following to the plugins section of webpack.config.js. This would ensure the shortcuts.json file is part of the webpack bundle when you deploy to your web server.

[code]

Hope this helps,
David

[2022-01-14 00:09] AlexJerabek commented on #242
Here's a copy of my project (minus the **dist** and **node_modules** folders. Try that out on your machine and see if it works. Otherwise, I can take a look at your project tomorrow.

[CFReact.zip](https://github.com/OfficeDev/Office-Add-in-samples/files/7866726/CFReact.zip)

[2022-01-14 23:49] AlexJerabek commented on #243
Hi @kishori1912,

Could you please provide some context for your request? Is this in reference to a specific Office Add-in sample?

Thanks!

[2022-01-17 10:41] kishori1912 commented on #243
Hi @AlexJerabek

I created a web excel add-in in a visual studio project. It provides the default web.config file and js, html.
So, I want to access web.config appsetting key value. I tried different things as follows.

<script>
    var varName = '@System.Configuration.ConfigurationManager.AppSettings["Text"]';
</script>

It did not work for me because it required an MVC view page.
Can I get any r

[2022-01-18 15:06] toinetoine commented on #242
Thanks @AlexJerabek! Just ran your project and works. Thank you for your help!

[2022-01-18 15:06] #242 closed

[2022-01-18 17:59] AlexJerabek commented on #243
Thank you @kishori1912. @davidchesnut, could you please take a look?

[2022-01-18 18:45] davidchesnut commented on #243
Hi @kishori1912,

You could pass the information from the controller to the view using ViewData. Such as in this [walkthrough](https://www.c-sharpcorner.com/article/asp-net-mvc-passing-data-from-controller-to-view/)  Or you can set up a model with the data, and [reference that model from the view](https://stackoverflow.com/questions/16688099/how-to-use-model-data-in-a-view-asp-mvc).

Just be caref

[2022-01-18 18:51] #222 closed

[2022-01-20 14:41] oldoldman opened #245 "how to make excel custom function work?"
**Question**

I'm trying to reproduce the excel custom functions ```storage``` on my local machine
1.  configure the manifest file , and put it in a shared folder
2.  copy all files in this [directory](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Excel-custom-functions/Storage/src/functions) to my local http server.
3. in excel add the addin in the shared folder
4. from the local h

[2022-01-20 19:02] AlexJerabek commented on #245
Hi @oldoldman,

Thanks for trying out the sample.  I'm assign @alison-mk to assist. I have a couple questions to help clarify your issue:

1. Did you change the functions' namespace? By default, they start with `CONTOSO` (so, `CONTOSO.ADD`, `CONTOSO.STOREVALUE`, etc.).
2. Have you tried running the sample with the entire codebase? If you copy everything from the [storage folder](https://github.com

[2022-01-20 22:51] oldoldman commented on #245
1. Did you change the functions' namespace? By default, they start with `CONTOSO` (so, `CONTOSO.ADD`, `CONTOSO.STOREVALUE`, etc.).
Yes. I'm using the namespace ```EBI``` in my manifest ```<bt:String id="functions_namespace" DefaultValue="EBI"/>```. I believe it is no a problem
2. Have you tried running the sample with the entire codebase? If you copy everything from the [storage folder](https://gi

[2022-01-22 15:04] oldoldman commented on #245
Hi guys, any suggestion?

[2022-01-25 00:46] alison-mk commented on #245
Hi @oldoldman, thank you for the information. It sounds like you have a one-time purchase version of Office, and not a Microsoft 365 subscriber license. Is that accurate? If yes, which one-time purchase version of Office are you using?

Custom functions will not work on any one-time purchase version of Office prior to Office 2021. See the following article for a list of the platforms that support

[2022-01-25 03:09] oldoldman commented on #245
Hi @Alison, it works now. But I'm not sure which one of the following 2 things I'v done in the last day makes it works
1. joined the Microsoft 365 Developer Program , i.e. I have an account on *.onmicrosoft.com
2. update my excel from 16.0.14701.20262 to 16.0.14729.20254. The start screen text changed from Excel 2019 to Microsoft 365.

[2022-01-25 18:41] alison-mk commented on #245
Hi @oldoldman, that's great news! I'm glad the sample works for you now. You'd need to complete both steps 1 and 2 for the sample to work. The CustomFunctionsRuntime 1.3 requirement set needs a minimum Office build number of 16.0.13127.20296 for Office on Windows (connected to a Microsoft 365 subscription). See the table on [Custom Functions requirement sets](https://docs.microsoft.com/en-us/offic

[2022-01-25 18:41] #245 closed

[2022-01-27 09:26] oldoldman opened #249 "Is there any excel streaming custom function example?"
**Question**

I'm following this [doc](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs?view=excel-js-preview) to setup a streaming function
1. setup js
[code]
2. setup json
[code]
But the function behaves like an one shot function : it does not update continually . What I'v missed ? Many thanks.

[2022-01-27 09:36] oldoldman commented on #249
found it. I should set workbook to auto calculate.

[2022-01-27 09:36] #249 closed

[2022-01-28 19:15] MwSpaceLLC opened #257 "manage filesystem with fs or another api for pc?"
**Question**

Hi there,

Sorry, we must complete one add-in that search in windows folders. We can't find any API for interact with fs as node.

U have any help for work with filesystem?

Example app => input file folder for search images and put image in excel cel as product ID.
![image](https://user-images.githubusercontent.com/29952045/151607642-0946ef2b-0b50-41b1-91d9-35d0c6196317.png)

Tnks f

[2022-01-28 19:35] Rick-Kirkham commented on #257
Office Add-ins are web applications and they restricted in the same ways that any web applications are restricted. By default, web applications cannot interact with the file system on the user's computer except in certain very specific ways. Cookie files can be saved to the file system. But web applications cannot search the file system by default. You might find some workarounds or special librar

[2022-01-28 21:43] MwSpaceLLC commented on #257
Thanks @Rick-Kirkham for your quick reply, we have now solved the problem. We are able to upload files normally via browser, but do we have a way to disable this pop-up? 🕵️‍♂️

![image](https://user-images.githubusercontent.com/29952045/151625543-19d1b3ed-8e4c-421d-9a5d-eec2472b58ca.png)

[2022-01-28 22:06] Rick-Kirkham commented on #257
I don't read that language. Can you tell me in English what the popup is saying?

[2022-01-29 15:35] MwSpaceLLC commented on #257
This Alert is generated from an HTML input file that we are trying to insert to let the user choose the search folder for the photos to insert in the Excel file. When the user clicks on the input file button and chooses the folder this Alert appears, but sometimes it doesn't work. If you press upload instead or if you press cancel, upload the folder once and 3 times. So every now and then it doesn

[2022-01-31 23:39] #243 closed

[2022-01-31 23:40] #241 closed

[2022-01-31 23:42] davidchesnut commented on #223
Hi @yusukemasuda,

Sounds good, so I'll close this issue for now. But if you still run into any issues, please reopen this issue.

Thanks!
David

[2022-01-31 23:44] davidchesnut commented on #223
Actually, I'll reopen the issue. Forgot the sample bug. :-) The sample still needs to be updated to use the rich APIs.

[2022-02-01 01:16] Rick-Kirkham commented on #257
Where are you uploading the files to?

[2022-02-01 21:22] yusukemasuda commented on #223
@davidchesnut
Thank you for supporting me very well.
I have been tried to add new styles by inserting a document including styles.
However, It hasn't worked well, yet. I am struggling it and I will ask Juan on the stackoverflow topic.

[2022-02-11 22:15] #257 closed

[2022-02-24 22:42] jbk75 opened #270 "Addin is installed but command not available"
**Question**

Hi,
when I run this in VS everything opens up fine, I see the add-in installed in web outlook,
but I do not see the AttachmentDemoWeb command in the menu.
What could be the issue?

Best regards
Jóhann

[2022-02-25 16:33] AlexJerabek commented on #270
Hi @jbk75,

I'm sorry you're having issues. Could you please specify which sample is the one you're having problems with?

[2022-02-25 17:20] jbk75 commented on #270
Hi @AlexJerabek thanks for answering ! :-]
I'm trying to get Samples/auth/Outlook-Add-in-SSO running in my environment.

The status is now : I got this working in the web outlook! but in the Outlook desktop client I get an error:
ADD-IN ERROR.
This add-in could not be started. Close this dialogto ignore the problem or click Restart to try again.

What could be causing this and what is the best way

[2022-02-25 17:27] AlexJerabek commented on #270
Thanks @jbk75.

Let me tag @ElizabethSamuel-MSFT to follow-up. In the meantime, could you please provide your version of Outlook? Your version of Outlook might not support the Identity APIs, as specified here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support

[2022-02-25 17:57] jbk75 commented on #270
Hey @AlexJerabek, @ElizabethSamuel-MSFT
thanks for the pointers!
I got this working!  The fail was that I was not logged into the correct account in Outlook, silly me :)

Best regards
Jóhann

[2022-02-25 17:57] #270 closed

[2022-03-01 15:16] jbk75 opened #275 "Error > API is not supported in this platform"
**Question**

Hi,
regarding the Samples/Outlook-Add-in-SSO add-in.

It is working in web Outlook, however in the Outlook desktop client I get following error :
EXCEPTION: {"name":"API Not Supported","message":"API is not supported in this platform.","code":13012}

What could be causing this ?

[2022-03-01 17:12] AlexJerabek commented on #275
Hi @jbk75,

That error message indicates that your version of Outlook does not support some feature in the sample. The list of what is supported by the different versions can be found here: https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support

Please let me know if that information doesn't align with your situation.

[2022-03-02 12:22] jbk75 commented on #275
Hi @AlexJerabek,
I see it is working to save the attachments, it goes to the diaLogFallback method and the files are saved to the onedrive after I login.
However I am also trying to create a task in planner using Graph API (from the same outlook addin).
It is working fine in the web outlook but in the outlook desktop client it just hangs showing the spinning icon.
If I debug this I can see that I

[2022-03-02 16:50] j0hnw0rk3r opened #276 "Outlook Add-in Compose - Dynamic Control Button Text Updating"
**Question**

I developed an add-in built with yo generator (Node.js) that works as a configurator which enables the outlook compose to enable/disable sending a copy of the new email to a custom url on-send.

There's a control button added that says 'Toggle Send to cCRM' but I would prefer a toggle text dynamically from 'Enable send to cCRM' to 'Disable send to cCRM' and vice-versa when clicking t

[2022-03-02 17:00] AlexJerabek commented on #276
Closing as a duplicate of https://github.com/OfficeDev/office-js-docs-pr/issues/3282.

[2022-03-02 17:51] j0hnw0rk3r opened #277 "Outlook Add-in - onNewMessageCompose LaunchEvent - DefaultValue not declared"
**Question**
I am developing an add-in for outlook which implements onNewMesageCompose LaunchEvent and I keep on getting 'DefaultValue attribute is not declared' everytime I tried loading the xml on outlook web and desktop.

Please check the link below for the the xml file
[https://github.com/j0hnw0rk3r/ccrm/blob/main/manifest.xml](url)

[2022-03-02 18:00] #277 closed

[2022-03-02 18:00] j0hnw0rk3r commented on #277
Closing as fixed by a typo

[2022-03-02 20:43] AlexJerabek commented on #275
@ElizabethSamuel-MSFT or @Rick-Kirkham, is there any advice you could provide here?

[2022-03-02 23:56] Rick-Kirkham commented on #275
@jbk75 First, it is not clear to me if you are still having the original problem or if you are past that and are now asking about a new problem or if you are describing two different problems. If you are still seeing the 13012 error, see [13012](https://docs.microsoft.com/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins#13012).

In general, you debug the server-side code in Visual Stu

[2022-03-03 13:55] jbk75 commented on #275
Hey @Rick-Kirkham,
thanks for the reply.

Yes I get the 13012 error still.  My Outlook client version is:
Microsoft® Outlook® for Microsoft 365 MSO (Version 2112 Build 16.0.14729.20312) 64-bit
When will this version be supported so that SSO login will work?

Best regards
Johann

[2022-03-03 19:28] Rick-Kirkham commented on #275
@jbk75 Your version of Outlook should support the API. So maybe one of the less common causes of 13012 applies. Is your add-in sending `allowConsentPrompt` as one of the options when it calls `getAccessToken`? As I understand it, there is a bug in Outlook that causes 13012 when you are sideloading the add-in, as you are when you are developing, and you pass that option. If so, try removing that op

[2022-03-07 10:39] jbk75 commented on #275
Hi @Rick-Kirkham.
I removed the allowConsentPrompt and send only in the following options:
options = { allowSignInPrompt: true, forMSGraphAccess: true };
But I still get the error :
OSF.DDA.Error {name: "API Not Supported", message: "API is not supported in this platform.", code: 13012}

But if this is only issue when you are developing/debugging then I can live with that.

I'm gonna try to publis

[2022-03-07 15:44] jbk75 opened #278 "Outlook-Add-in-SSO invalid manifest"
Hi,
Im trying to deploy the manifest in the microsoft 365 admin center.
But I get the error: Manifest file validation has failed.

what could be the issue ?

Best regards
Jóhann

[2022-03-07 17:00] AlexJerabek commented on #278
Hi @jbk75,

Could you please provide a little more context for your issue?

1. Are you deploying the manifest _as-is_ from the sample? Or has it been edited in any way?
2. Have you made other edits to the sample? Or are you testing what happens what the sample is deployed?
3. In the M365 admin center, are you using [integrated apps](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/test-

[2022-03-07 17:28] jbk75 commented on #278
1. Are you deploying the manifest _as-is_ from the sample? Or has it been edited in any way?

        for example: changed:  id, display name and description
	added values to existing sections like scopes section and Urls
 2. Have you made other edits to the sample? Or are you testing what happens what the sample is deployed?

 3. In the M365 admin center, are you using [integrated apps](https://d

[2022-03-08 20:27] AlexJerabek commented on #278
Thanks for the information @jbk75.

@davidchesnut, could you please take a look?

[2022-03-18 22:05] AlexJerabek commented on #275
Hi @jbk75,

Did this issue with the sample get resolved for you? If so (or I don't hear from you), I'll go ahead and close the issue.

[2022-03-19 20:33] #275 closed

[2022-03-28 12:44] maxCSA opened #293 "DefaultMinVersion="1.10" for outlook-set-signature"
**Describe the bug**

[outlook-set-signature] sample use the signature API which is available from version 1.10, so manifest should reflect that.

**To Reproduce**

The Add-ins isn't compatible with version prior to 1.10

**Expected behavior**

Add-ins shouldn't be load if version 1.10 is not available

**Environment**
Example : Outlook 2016 shouldn't load the Add-ins

**Additional context**

http

[2022-03-28 19:34] AlexJerabek commented on #293
Thanks for reporting this issue @maxCSA.

@samantharamon, could you plese investigate?

[2022-03-28 22:30] davidchesnut commented on #278
Hi @jbk75,

Sorry for the late follow up to this issue. I set this sample up as an integrated app in my test m365 environment and it is working correctly. Just to check a few things.

- Are you loading the manifest from the `\Office-Add-in-samples\Samples\auth\Outlook-Add-in-SSO\AttachmentDemo\bin\Debug\OfficeAppManifests` folder? You want to be sure to use the one VS builds, and not the parent on

[2022-04-04 21:11] samantharamon commented on #293
Hi @maxCSA,

Thank you again for catching this. The change is pending review in [PR #299](https://github.com/OfficeDev/Office-Add-in-samples/pull/299). Should you have additional feedback, please do not hesitate to let us know.

[2022-04-08 17:59] #293 closed

[2022-04-28 07:43] kapilash opened #306 "Why do we need to enable implicit flow for the app?"
**Question**

The [instructions for app registration](https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/auth/Outlook-Add-in-SSO/README.md#register-the-add-in-with-azure-ad-v20-endpoint) are suggesting that we create an implicit grant flow (Point 6).

1. But the code does not seem to rely anywhere [on implicit flow](https://github.com/OfficeDev/Office-Add-in-samples/blob/39a71055

[2022-04-28 16:51] ElizabethSamuel-MSFT commented on #306
@kapilash Thanks for your question.

@davidchesnut Can you take a look?

Thanks.

[2022-04-29 16:56] davidchesnut commented on #306
Thanks @kapilash! I'll look into this sample.

[2022-04-29 18:01] Rick-Kirkham commented on #306
FWIW, the code comment "Gets IdToken from implicit flow and sends it to main add-in window." does not accurately describe the method it is on. That method is using the AuthCode flow.

[2022-05-02 17:12] davidchesnut commented on #306
Thanks @Rick-Kirkham, I'm adding a link here to the code comment so I don't forget to update it: https://github.com/OfficeDev/Office-Add-in-samples/blob/39a7105582287bc82ffde7844167d53381a1867b/Samples/auth/Outlook-Add-in-SSO/AttachmentDemoWeb/Controllers/AzureADAuthController.cs#L46

[2022-05-02 17:24] kapilash commented on #306
thanks @davidchesnut!

[2022-05-03 14:49] ksdaniel opened #308 "Contextual tabs for Content App addins in Excel"
**Is your feature request related to a problem? Please describe.**

It's not really a bug - it's more of an inconsistency.

**Describe the solution you'd like**

There was some investment and improvements in the contextual tabs API, that makes it possible to create some neatly integrated experiences.

The problem is that it makes use of the shared javascript runtime.

This cannot be configured for

[2022-05-03 20:20] Rick-Kirkham commented on #308
@ksdaniel You are correct that contextual tabs is not supported for Content add-ins. In fact, no type of ribbon / menu customization is possible with content add-ins. Conceptually, Content add-ins are not intended to add to the functionality of the Office application. Instead, they are intended to surface web-based content in Office documents. I'm not clear on what your scenario is, but if you are

[2022-05-09 20:00] #308 closed

[2022-05-12 19:51] ElusiveTau opened #314 "Can Word JS API Invoke External Applications and Pass it Data?"
**Question**

Hey, I'm not familiar with this API so I wanted to know if it's possible to use it to invoke an external application and pass it data.

I use MS Word to take video notes. An example might look like this (`The Two Generals' Problem` is a hyperlink to a local video file):

`The Two Generals' Problem
• @2:35 Two communicating computing systems can’t guarantee their outgoing message has

[2022-05-16 15:29] davidchesnut commented on #314
Hi @ElusiveTau,

Yes this should be possible. You can open a new browser window, or a dialog box. For more information see [this stack overflow q&a](https://stackoverflow.com/questions/38044279/open-an-html-page-in-a-default-browser-from-an-add-in).

I'm not familiar with the QuickTime player specifics, but I would think there is probably a way to load the player in the opened web page and pass th

[2022-05-20 09:09] lory0221 opened #316 "Problem with SSO"
**Question**

_Ask your question here._

Hi, I implemented the plug in and I changed the endpoint not to be onedrive, but the sso doesn't work anymore, suggestions?

[2022-05-21 00:02] davidchesnut commented on #316
Hi @lory0221,

Can you give us some more details about the changes, and the error you are seeing? Is this on Office on Windows, web, or Mac? Which endpoint did you change to?

My immediate guess would just be to be sure you updated the app registration so it has the correct scopes for the new endpoint. Also you need to update the scopes in code and the manifest to match.

Cheers,
David

[2022-05-23 15:32] lory0221 commented on #316
Hi @davidchesnut
I have the problem on the browser (edge or chrome) of a windows machine.
I have to contact a web service with an authorized token, and at the moment i'm using this scopes:
        <Scopes>
          <Scope>openid</Scope>
          <Scope>profile</Scope>
          <Scope>offline_access</Scope>
          <Scope>files.readwrite</Scope>
          <Scope>mail.read</Scope>

        </Sc

[2022-05-24 14:54] lenain71 opened #317 "Office Addin SSO Node JS + CI/CD"
**Question**

Is anybody tried to make CI/CD to build and deploy the sample for NodeJS SSO/typescript project using Azure Devops ?

I'm trying to deploy the sample for outlook add-in, by hosting the code of the nodeJS app to a Azure Static Web app where building the project will take place in Azure.

In order to do so, I'm start a azure pipeline and I'm stuck on the result of the npm build task, b

[2022-05-26 17:44] davidchesnut commented on #316
Hi @lory0221,

Okay if it goes to the fallback code, that most likely means the call to getAccessToken() is returning an error. I'd put a breakpoint there and get the text of the error.

When you say you need to contact a web server, are you referring to mail or file services in Microsoft Graph? That's what the current scopes indicate. Also the files.readwrite scope is for OneDrive (initially you

[2022-05-27 21:59] nancy-wang commented on #317
thanks for the question @lenain71! @AkhileshShah-MS might you be able to help here or know of the right contact for something like this?

[2022-05-28 09:16] Martin-Andersen opened #319 "word-blazor-add-in: How to create the project from scratch"
Please delete this. I found the solution in the property pane

![image](https://user-images.githubusercontent.com/203121/170820436-25d018df-29c0-4c50-b33c-36c932eec34f.png)

https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/word-blazor-add-in

First thanks to Maarten van Stam for creating the example and showing how to use Blazor with office.js.

I am trying to create the exampl

[2022-06-02 21:18] aafvstam commented on #319
Saw your edit (changing the web project in the Properties). This indeed is the way to go to swap out the existing project with a new project.

Don't forget to change the default TaskPane URL if that is named differently in your new project otherwise the Add-in can't be found:
`<bt:Url id="Contoso.Taskpane.Url" DefaultValue="~remoteAppUrl/" />`

[2022-06-02 21:18] #319 closed

[2022-06-02 23:54] davidchesnut commented on #317
Hi @lenain71, it's important to know that you can't deploy an add-in using SSO to a static web site. SSO requires you to run server-side code so you need to use an Azure app service. Here are some notes I put together on a similar thread on how you could approach deployment: https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/issues/61#issuecomment-821517972

Hope this helps,
David

[2022-06-03 11:27] lenain71 commented on #317
Hi @davidchesnut,
I had already come across this post.

It seemed to me that there was going to be a problem !

 It's crazy that the official documentation doesn't mention that, as if nobody (apart from you) needs to deploy their dev in production envrionment!!

 So I'm going to do the test on a classic web app and make ajustments.

Many thanks

[2022-06-03 17:40] davidchesnut commented on #317
You're right, we need to add this to the official documentation. I'm tracking this on the backlog here, and internally in item 4688697. Will work to get to this soon. Thanks!

[2022-06-03 18:00] #316 closed

[2022-06-03 18:03] davidchesnut commented on #316
I think the bot saw this tagged as a programming question and closed it. But please comment if you still need any help here.

[2022-06-06 22:01] #278 closed

[2022-06-09 21:24] vazromju opened #325 "Error SSOAutoSetup"
Hello
I have problems trying to execute nmp run configure-sso

the process opens the browser for Authentication in Azure, and it is OK but afer this I receive the following error

[code]

and I am not sure what can be.
Suggestions?
Thank you

[2022-06-10 22:38] #306 closed

[2022-06-13 10:08] lenain71 commented on #317
@davidchesnut another question of this stuff...

I'm using actually the TypeScript version of the Addin node JS SSO, and I have already modify my own version of the npm package office-addin-sso, in order to bypass the devcert/credential manager stuff. But right now, It does not working a 404 not found on all endpoint serve normally by the express server launched from Azure Web App

`https://myazur

[2022-06-13 17:32] davidchesnut commented on #317
Assuming you are using Windows for your Web server, be sure you made the following change so that your node server starts correctly:
* Modify the package.json to just start the node server with "start": "node ./bin/www"

This is from steps I used to deploy to an Azure App service (full steps are here: https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/issues/61#issuecomment-821517972)

[2022-06-13 19:20] lenain71 commented on #317
Not so simple actually, like mentioned, I started the project usin typescript yeoman generator. The only build artefact that I have are the dist folder, which does not contain the "server express" code of the office-sso-addin nom package. Locally, it's a combination of npm build and custom webpack command used to start the Dev server, and I don't know how to simulate the same things... ( Maybe cus

[2022-06-15 10:01] ChristianGalla opened #328 "Office UI Fabric deprecated => Fluent UI samples needed"
It looks like some of or most of the samples like [Outlook-Add-in-SSO](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Outlook-Add-in-SSO) are still using [Office UI Fabric JS](https://developer.microsoft.com/en-us/fabric-js).

Office UI Fabric JS is not maintained anymore (Last Release 2017) and Microsoft recommends to migrate to Fluent UI.

I suggest adding a deprecatio

[2022-06-15 17:44] Rick-Kirkham commented on #328
@ChristianGalla We don't want to make React a de facto requirement for add-ins. The Fluent UI team advised me just a few weeks ago that we should continue to use Office UI Fabric JS as the recommended library for non-React developers. The current hope is that about a year from now, we will be able to start pointing non-React developers to the Fluent UI WebComponents library, but that library is ch

[2022-06-15 21:47] davidchesnut commented on #317
Okay, I see now. The SSO template uses the command "start:server": "office-addin-sso start manifest.xml" in the package.json. And unfortunately, the **office-addin-sso** package does not work in an Azure environment. You need to replace it with a node server. The best path forward is to use the sample at https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-NodeJS

[2022-06-20 09:09] lenain71 commented on #317
Thanks @davidchesnut  I can confirm with the solution provided on [https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO/Complete](url), addin is deployed in production mode, using Azure App Service.

But now, the funny part, I don't know how te remapped the front end part, which is codd en TS and React, into this solution.

Do you have any workload to

[2022-06-20 16:59] davidchesnut commented on #317
Nice! For SSO, hopefully you can just put a wrapper around the call to getAccessToken and call it from your React pages when you need the token. For the fallback auth you just have to implement MSAL, open a dialog, and sign in the user. There's a sample that shows how to do this with React and TS at https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-Microsoft-G

[2022-06-23 14:11] ryanj11 opened #339 "Broken link in documentation"
Apologies if this shouldn't be logged under Bugs. Feel free to delete.

On this page - https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/hello-world/outlook-hello-world - there is a link to https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/hello-world/outlook-hello-world/run-the-sample-on-outlook-on-windows which returns a 404. The link text is "Run the sample

[2022-06-23 16:47] AlexJerabek commented on #339
Thanks for reporting this @ryanj11. I've created PR #340 to fix that link.

[2022-06-23 16:50] #339 closed

[2022-06-24 21:51] ElizabethSamuel-MSFT commented on #223
The sample is about OOXML so it doesn't seem to make sense to update to use rich APIs. Maybe an option would be to create a sample that showcases equivalent/similar behavior/functionality using rich APIs.

I'll go ahead and close this as we'll need to create a new sample instead of updating this one.

[2022-06-24 21:51] #223 closed

[2022-07-01 11:08] vivek-lakhataria opened #346 "Word Add-in Context Menu Function Issue"
I have created Word Add-in using your example,
Add in loads successfully contextMenu is loading successfully,
but when i click on the context menu button it is not interacting with TaskPane UI,

Here is my Code ####
Function.js File >>
Office.onReady(() => {});

(function () {
    Office.initialize = function () { };
})();

function callThisFunction(event) {
    wordRunFunction();
    event.comple

[2022-07-01 20:21] AlexJerabek commented on #346
Thanks for reporting this @vivek-lakhataria.

@ElizabethSamuel-MSFT, could you please take a look?

[2022-07-01 21:07] ElizabethSamuel-MSFT commented on #346
@vivek-lakhataria Can you also share a version of your manifest? Did you start off with the Hello World example (https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/hello-world/word-hello-world)?

Also, can you provide some details about your environment?
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______

[2022-07-04 05:00] vivek-lakhataria commented on #346
Yes I started with Hello World example.
Platform - Visual Studio 2022 word add in
Host - Word
Office Version Number - 1.1
Operating System - Windows 10

[2022-07-04 05:00] vivek-lakhataria commented on #346
Manifest
========================================================================

<?xml version="1.0" encoding="UTF-8"?>

<OfficeApp
          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
          xmlns:ov="http://schemas.microsoft.com/o

[2022-07-07 17:05] ElizabethSamuel-MSFT commented on #346
@vivek-lakhataria Thanks for providing this information. However, can you let us know which version of Office you're using (e.g., Office 2019)? Do have a Microsoft 365 subscription? Thanks.

[2022-07-07 18:35] praveenbattula opened #348 "Creating docker solution for Office Add-Ins"
Hello, I have a requirement to create docker for add-ins. I have created React app, and added docker file to my project. When I am trying to create docker, in build process I see all looking good. But, docker run fails.
Below is my package.json file:

{
  "name": "office-addin-taskpane-react",
  "version": "0.0.1",
  "repository": {
    "type": "git",
    "url": "https://github.com/OfficeDev/Offic

[2022-07-08 21:00] ElizabethSamuel-MSFT commented on #346
@vivek-lakhataria Seems like you may have started off with the [Word quick start that's based on Visual Studio](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=visualstudio) instead of the hello-word sample? Can you confirm? Thanks.

[2022-07-08 21:28] ElizabethSamuel-MSFT commented on #346
@vivek-lakhataria When you say "when i click on the context menu button it is not interacting with TaskPane UI", what do you mean?

![image](https://user-images.githubusercontent.com/28541963/178072454-e04e7f1b-aeb6-4766-ae03-a23ba85189b9.png)

When I open the context menu, hover over **Context menu...**, then click the **Context menu...** in the submenu, the task pane opens. What is the behavior

[2022-07-11 19:53] davidchesnut commented on #348
Hi @praveenbattula,

Have you checked that ajv/dist/core does exist as expected? Also be sure you are running the container in a Windows environment (not Linux) as the office-addin-debugging module expects Windows. Or you need to remove that module and just run Node JS server directly for Linux.

If you are still stuck can you please post the question on stackoverflow [office-js] [outlook-web-addi

[2022-07-16 01:01] #346 closed

[2022-07-18 22:01] #348 closed

[2022-07-22 20:44] jemery27 opened #359 "Excel on Windows?"
The samples say they should work on Windows and Mac as well as O365. Are there any notes how to do that - like import in visual studio code and run in excel on windows? I can run them in O365 and even run the local web server etc, but not understanding how to run in local Excel application. I have built my own addins using VSC and npm build / start etc, but these samples seem to need something els

[2022-07-22 21:48] Rick-Kirkham commented on #359
I'm not clear on what you are asking. Is there a sample that is not working? If so, could you specify which one? Are you trying to test in on Windows or on Mac or on the web?

[2022-07-23 01:28] jemery27 commented on #359
The specific sample I was testing was "excel-shared-runtime-scenario". I
was able to make it work using the info in the readme in office 365 on the
web. However, downloading the sample and opening it in visual studio code
then building it with "npm run build" fails. I'd like to work and develop
on local Excel on windows and trying to use some of the concepts in my own
addon. I know it's probably n

[2022-07-25 16:50] davidchesnut commented on #359
Hi @jemery27,

This sample doesn't use a web framework. It's just a collection of static HTML pages and resources. So there isn't anything to "build". If your goal is to have a project that you can start building on, you'll need to use the following steps.

1. Run "yo office" and generate the template that you want (React, Office host, etc...)
2. Modify the generated project to use the [shared run

[2022-07-28 16:53] nvazhayil opened #361 "Support for Keyboard shortcuts in custom contextual tab."
Currently, when we press ALT on the keyboard and move to the custom context tab, we see that the buttons within the context tab are assigned shortcuts numbered from 1 to 9.

It would be helpful if user defined keyboard shortcuts can be assigned to each button.

I would suggest having a key in the JSON structure passed to Office.ribbon.requestCreateControls API.
Currently, each control has the foll

[2022-07-28 17:23] jemery27 commented on #359
Ok yeah I thought it needed to build to register the functions in Excel. I
don;t particularly care if there is a framework, static HTML would be fine,
I guess I;m not quite understanding what is required to run this code in
the windows excel app - do I have to install the framework or can I run it
as static html?

Thanks again,
Jason

On Mon, Jul 25, 2022 at 9:50 AM David Chesnut ***@***.***>
wrot

[2022-07-28 19:31] jemery27 commented on #359
I guess another way to ask this might be - could anyone outline some steps
to replicate this sample even to develop against in O365? All my past
experience was with VBA and with the code loading from github I am not sure
how I can create my own 'instance' to work off of or what needs to change
to make that work. Seemed like downloading the code and working in visual
studio code would be a good opt

[2022-07-28 19:43] davidchesnut commented on #359
Hi Jason,
You can start with this sample. You'll just be coding in plain HTML/JS, which is completely fine. Office Add-ins do not require a framework. It's just as you get to larger, complex add-ins a framework makes it much easier to deal with JS file dependencies or updating the HTML DOM on the fly.

1. So you can use Visual Studio Code to make changes to the sample.
2. Then [start the localhost

[2022-08-01 22:47] davidchesnut commented on #359
Will go ahead and close this issue, but please reopen if you still have any issues with the sample. Thanks!

[2022-08-01 22:47] #359 closed

[2022-08-04 04:49] minyu007 opened #365 "Can't find /src/commands/ribbonJSON.js file"
**Question**

_Ask your question here._

Can't find  /src/commands/ribbonJSON.js file

[2022-08-04 23:53] davidchesnut commented on #365
Hi @minyu007 are you looking for this file? https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/office-contextual-tabs/src/commands/ribbonJSON.js

Or are you looking at a different sample?

Thanks!
David

[2022-08-12 04:01] #365 closed

[2022-08-24 17:22] sboudouk opened #372 "Custom function batching pattern benefits"
**Question**

Hello,

First of all thanks for you work and your commitment.

I am actually building an add-in that call multiple endpoint of my API, so I naturally decide to check the `Custom function batching pattern` that you guys provided in the samples.

The sample looks accurate enough, code wise, but actually It does not really explain what are the benefits of this, performance wise.

Will y

[2022-08-24 18:58] AlexJerabek commented on #372
Hi @sboudouk,

Thank you for the question. I'll assign @alison-mk to investigate and answer.

[2022-08-29 11:10] sboudouk commented on #372
Hello @alison-mk , any news here ? Thanks.

[2022-08-29 23:06] alison-mk commented on #372
Hi @sboudouk,

The primary benefits of following a batching pattern for your custom functions add-in are related to network performance, and not performance of Excel the application.

The main benefits of following a batching pattern are:
- Each call to a remote web service takes time. Each call must be sent (requested) and then a response returned, and there is often a delay between requests and

[2022-08-29 23:22] #372 closed

[2022-08-30 06:59] sboudouk commented on #372
Thanks for the answer & the action, crystal clear.

[2022-09-13 23:17] microsoft-github-policy-service[bot] opened #388 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-14 01:18] #388 closed

[2022-09-22 09:42] davidk43 opened #402 "Office Addin SSO Node JS - 404 on latest version"
**Question**

Hi I've been trying to update this tutorial since the recent token revisions and I can't get it to sideload at all. Suspect I'm being dumb but not finding any help out there. I've retraced my steps several times with a fresh pull and keep hitting the same load issue. I have other samples sideloading fine, any pointers please?:

NotFoundError: Not Found
    at C:\Office Addins\SSO\app

[2022-09-22 14:08] davidk43 commented on #402
Closing this, issue has gone (still no idea tho!) - apologies.

[2022-09-23 17:31] michelleranmsft commented on #402
Good to hear the issue was resolved! If you run into this problem again and feel this issue needs to be re-opened, please let us know.

[2022-09-23 17:31] #402 closed

[2022-09-26 10:25] Asher9971 opened #403 "403 Forbidden Node.JS Oauth SSO"
Hello,
I just worked through these Instructions:
https://docs.microsoft.com/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs

But i always get a 403 Error (forbidden) on the getuserfilenames Method
![image](https://user-images.githubusercontent.com/11883647/192253994-91666655-c331-48e2-9971-2f27f242f108.png)

when i write-out the Error in Html:
![image](https://user-images.githubusercon

[2022-09-26 12:02] Asher9971 commented on #403
after changed this
![image](https://user-images.githubusercontent.com/11883647/192271275-33a21a2d-4683-4506-93a2-26dc4061a6a8.png)
it worked..
maybe the instructions have to be adopted

[2022-09-28 05:36] #403 closed

[2022-09-29 19:26] nvazhayil opened #405 "Office.ribbon.requestUpdate throws an exception"
Referring to https://learn.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs, I created an Excel task pane add-in.

Sometimes the API Office.ribbon.requestUpdate() throws an exception saying **The API you are trying to use is not available. It may be available in a different scenario.**

This does not happen always. Sometimes it works and sometimes it doesn't. Both the times, the data

[2022-09-29 20:12] Rick-Kirkham commented on #405
Just a thought. You can't call this more than once in a given session with the add-in. Could that be the problem?

[2022-10-12 23:22] priya-cloud commented on #214
@davidchesnut : Do you have an example for Outlook add-in smillar to Office-Add-in-NodeJS-SSO project? Office-Add-in-NodeJS-SSO only supports word, excel and PPT. I am looking for similar app for outlook. Any. reference will be appreciated.
Thank you in advance.

[2022-10-13 22:05] davidchesnut commented on #214
Hi @priya-cloud, Our current plan is to point folks to the [Microsoft identity platform code samples](https://learn.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code). These samples are great and cover a lot of different platform scenarios. The key is that you need to modify them to use the Office dialog API which you can find lots of info on here: [Authenticate and authorize with

[2022-10-25 16:53] arcontechnologies opened #412 "Error when loading outlook blazor sample"
**Question**

Hi, can someone help me figure out what is going wrong with my balzor sample installation ? Actually I went through all the steps but seems that something is not well configured. (I'm new to blazor). Thanks in advance for your feedback

![image](https://user-images.githubusercontent.com/17960609/197834939-f55fa961-a59e-449c-8add-d91fae7ab1a3.png)

[2022-10-26 15:31] arcontechnologies commented on #412
Actually I managed to restart the tutorial from the begenning and seems working. No further investigation needed

[2022-10-28 16:27] geoHeil opened #415 "Custom Excel remote request batching fusing input paramter (range)"
The excel javascript API can request data from an external service as outlined here: https://learn.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs

https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Excel-custom-functions/Batching/src/functions/functions.js#L96 is a great example for batching.

However, imagine a UDF that must retrieve contiguous parts of a databas

[2022-10-28 16:37] AlexJerabek commented on #415
Hi @geoHeil,

Thanks for the question. Getting large amounts of data to apply across a range sounds like the job of a [taskpane-based add-in](https://learn.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator), instead of a Custom Function. There's a series of articles about working with ranges, including this one on [setting range values](https://learn.m

[2022-10-28 20:56] mkondadg opened #416 "Smart alerts not working on New Mac UI with manifest"
Testing below manifest file on Windows / Mac

https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/outlook-check-item-categories/manifest.xml

As per documentation, (https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest#differences-between-smart-alerts-and-the-on-send-feature), Smart Alerts is supported on New Mac UI.
B

[2022-10-28 21:04] AlexJerabek commented on #416
Thanks for the question @mkondadg.

@samantharamon, can you please confirm the accuracy of the Mac support and the timeline?

[2022-10-30 17:03] geoHeil commented on #415
Der @AlexJerabek ,

similar to what Bloomberg is showing here https://youtu.be/FwN7lZPbYXE?t=2826 I want to have the data accessible via the UDF. Indeed, batching is possible - but not solving my issue. In fact, the client (before batching) would need to perform operator fusion (i.e. detect that subsequent calls to the UDF) are in fact not (random) point lookups but rather a range scan in a databa

[2022-10-31 20:15] AlexJerabek commented on #415
Hi @geoHeil,
Let me tag @yaweizhu-henson from the product team to help look at your scenario and understand if there is a better approach.

[2022-11-01 17:34] mkondadg commented on #416
Any update @samantharamon ?

[2022-11-01 23:33] samantharamon commented on #416
Hi @mkondadg,

Apologies for the delayed response. I've verified that Smart Alerts is supported on the new Mac UI starting in Version 16.65.827.0. When you get a chance, could you please update your Outlook on Mac client and try the sample again? Let me know if that resolves the issue.

[2022-11-02 00:05] mkondadg commented on #416
Hi @samantharamon
I tested the same after upgrading to 16.66.2 Mac new UI on BigSur
The manifest file used is https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/outlook-check-item-categories/manifest-localhost.xml

The same addin is deployed on windows and gives smart alert as below.

![windows smart alerts - send appointment - alert2](https://user-images.githubusercontent.com/62

[2022-11-02 00:44] samantharamon commented on #416
Thanks for testing that and providing additional details, @mkondadg. Let me test this further this week to see if I can replicate the issue. Are you able to run the add-in created from the [Smart Alerts walkthrough](https://learn.microsoft.com/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest) on a Mac by any chance?

[2022-11-02 19:07] mkondadg commented on #416
A bit progress but not completely working.

Used below manifest file with most of the data from https://learn.microsoft.com/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest

[smartalerts-mac-manifest.xml.zip](https://github.com/OfficeDev/Office-Add-in-samples/files/9923386/smartalerts-mac-manifest.xml.zip)

Smart Alert seen
![macnewui - smart alerts2](https://user

[2022-11-04 03:57] samantharamon commented on #416
Thanks for sharing the manifest you're using, @mkondadg. I'll test this further and get back to you.

[2022-11-07 13:32] geoHeil commented on #415
@yaweizhu-henson do you have any updates?

[2022-11-07 17:17] KelBowen commented on #326
@davidchesnut OK to close this issue yet?

[2022-11-07 17:17] KelBowen commented on #8
@davidchesnut Any updates?

[2022-11-07 17:48] davidchesnut commented on #8
Hi @bpatra, sorry, but this sample was archived. Once samples are archived we no longer maintain them. If you are still encountering any issues that the active samples aren't helping with, can you please open a new issue so we can take a look?

Thanks!
David

[2022-11-07 17:48] #8 closed

[2022-11-07 17:51] davidchesnut commented on #326
Hi @elthombre I apologize for not getting this answer posted sooner. I thought I had posted awhile back, but I dont see it here, so I must have missed this somehow.
The dialog is based on an archived sample here: https://github.com/OfficeDev/Office-Add-in-Auth0 If you reuse the code just be sure it is up-to-date with latest library versions and security recommendations. We're moving away from thes

[2022-11-07 17:57] davidchesnut commented on #124
Hi @johandanforth, Sorry this has taken so long. I was working on a PR to update this sample, but we're changing our strategy to rely on the existing [Microsoft identity samples](https://learn.microsoft.com/azure/active-directory/develop/sample-v2-code).

The Office Add-in Microsoft Graph ASP.NET sample will be remapped to https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof That

[2022-11-07 17:59] #68 closed

[2022-11-07 17:59] #69 closed

[2022-11-08 00:20] samantharamon commented on #416
Thank you again for providing your test results, @mkondadg. I'm able to replicate the issue you're experiencing. I'll be working with the team to troubleshoot the sample on a Mac further. I forgot to request this in an earlier post. When you get a chance, may I request for your diagnostic logs?

I created an add-in from scratch using the [Smart Alerts walkthrough](https://learn.microsoft.com/offic

[2022-11-08 02:53] mkondadg commented on #416
@samantharamon could you provide the manifest xml generated using https://learn.microsoft.com/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest ?

Could you let me know how to generate the diagnostic logs for this case which will be useful to you ?

[2022-11-08 04:21] elthombre commented on #326
@davidchesnut , the problem with those recommendations is that under the circumstances those examples represent, the developer has complete control of the entire application, right? The application is built from scratch and those samples provide guidance for sign-on.

As an  Office developer, we do not have control of the pre-existing environment. Meanwhile, the demands placed upon us are to exten

[2022-11-08 20:17] samantharamon commented on #416
We use the add-in project created from the [Outlook quick start](https://learn.microsoft.com/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) as a basis (see the ['Set up your environment'](https://learn.microsoft.com/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest#set-up-your-environment) section of the walkthrough), then replace the \<Ver

[2022-11-08 23:40] mkondadg commented on #416
@samantharamon Unable to reproduce the sendmail issue even with the same manifest xml I provided earlier. I tried redeploying multiple times and even restarted the machine and disabled runtime logging as well.
The outlook app version is still the same.
Could you try testing in your previously reproducible setup ?

I deployed the manifest you provided and it works as expected.

![SmartAlerts-sample

[2022-11-09 04:40] yaweizhu-henson commented on #415
Sorry for  late response. I just see the email notification today. I will involve our engineer in this to see if your requirement can be supported today.
@JHJ-MS

[2022-11-11 04:18] samantharamon commented on #416
Thank you for the update, @mkondadg. I'm glad to hear you were able to create an add-in using the walkthrough. I tested configuring the sample's SendMode attribute to PromptUser and I'm also now able to send the email after selecting the Send Anyway option. However, I still receive the "add-in is unavailable" dialog. If possible, could you still provide the logs you get from running the sample?

[2022-11-14 06:13] johandanforth commented on #124
Hi @davidchesnut and thanks for the update. The problems I had this long ago actually made me drop everything until everything was more "ready". But the need is still there - we have an old, quite complex, Outlook addin written in c# that needs to be overhauled. I was hoping we could rewrite it using this technique...

[2022-11-14 21:17] davidchesnut commented on #326
Hi @elthombre, to be clear, when you mention the "pre-existing environment" are you referring to the M365 tenant where your add-in is deployed? As long as the admin consents your add-in should work correctly with the users on that tenant. Most of our guidance is built around using the on-behalf-of (OBO) flow. So I would recommend starting with the samples that indicate they use OBO. For example, [

[2022-11-14 21:30] elthombre commented on #326
@davidchesnut , no, what I am saying is that these samples related to authentication are segregated from the solution in question. If I'm building a web app or mobile app or desktop app from scratch, etc., I can control the entire experience and have access to the entire project. In MS Office development, one is working within a pre-existing environment where limited aspects may be exposed.

[2022-11-14 21:44] davidchesnut commented on #326
Ok, so referring to the sandboxed environment of the task pane running in a webview (desktop) or iFrame (online)? That is true that unlike VSTO solutions you'll be more constrained to just working with the Office.js APIs (or browser features.) Auth will continue to work, and you can use SSO so you don't have to sign in the user twice. Is there a specific challenge you are running into with buildin

[2022-11-15 04:20] elthombre commented on #326
@davidchesnut - my apologies here, I've been working on something new related to Teams. This thread was originally created over a year-and-a-half ago. What I presently face is different but I will add that the demands of the client at the time of the original post created some constraints that did *not* align with Microsoft's recommendations / best practices.

[2022-11-15 07:16] johandanforth commented on #124
Thanks @davidchesnut , I did not know of that sample, I will for sure give it a go, as soon as I get some time for it. Cheers. We sure want to move away from our old (but still working fine) Outlook add-in, because that particular add-in has grown into something ugly 😉

[2022-11-15 16:07] mkondadg commented on #416
@samantharamon Sorry for the delay.

Using the earlier manifest from sample (which was blocking sending anyway earlier, now sends the mail)
[22_smartalerts_partialworking_backup.xml.zip](https://github.com/OfficeDev/Office-Add-in-samples/files/10014247/22_smartalerts_partialworking_backup.xml.zip)

Enabled this log setting
defaults write com.microsoft.Outlook CEFRuntimeLoggingFile -string "runtime

[2022-11-15 19:00] samantharamon commented on #416
No worries, @mkondadg. Thank you for including the manifest and logs.

[2022-11-15 19:46] johandanforth commented on #124
Sorry to say, the outlook blazor sample isn't working. I get this error in both desktop and web mode. Have tried with and without two-factor auth, same error:
![image](https://user-images.githubusercontent.com/527037/202011496-94463724-d24f-4a52-bb87-cab7b1654bc7.png)

[2022-11-16 20:04] davidchesnut commented on #124
I sideloaded the sample to Outlook on web, and Outlook on Windows and it seems to load and run fine.

Can you try again after [clearing the Office cache](https://learn.microsoft.com/office/dev/add-ins/testing/clear-cache)?

Thanks!
David

[2022-11-16 20:45] johandanforth commented on #124
I will try in a few minutes, forgot to clear the cache! I've not looked at this architecture since I reported that issue a long time ago now. Sorry.

/Danforth
________________________________
From: David Chesnut ***@***.***>
Sent: Wednesday, November 16, 2022 9:04:30 PM
To: OfficeDev/Office-Add-in-samples ***@***.***>
Cc: Johan Danforth ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/O

[2022-11-17 05:17] jimbarrett33 opened #436 "Upgrade Office ASP.NET SSO to ASP.NET Core - why "Remove fallback code"?"
The recent upgrade of [ASP.NET SSO](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-ASPNET-SSO) to use ASP.NET Core **removes** the fallback code which pops up the Office dialog does the complete auth flow with redirect to Azure AD and back to the web app servers-side code and then calls MS Graph. Why?

The [Pull Request](https://github.com/OfficeDev/Office-

[2022-11-17 05:23] a1-day1 opened #437 "Mobile device management and app restrictions"
**URL of sample**

_URL linking to the sample that has the bug._

**Describe the bug**

_A clear and concise description of what the bug is._

**To Reproduce**

Steps to reproduce the behavior:
1. _Go to '...'_
2. _Click on '....'_
3. _Scroll down to '....'_
4. _See error_

**Expected behavior**

_A clear and concise description of what you expected to happen._

**Screenshots**

_If applicable, ad

[2022-11-17 17:36] AlexJerabek commented on #437
Hi @a1-day1,

It's not clear from the title what the issue is. If you could please fill out the issue template, that would be very helpful. I'll close this for now, but reopen it once we get more information.

[2022-11-17 17:36] #437 closed

[2022-11-17 20:57] samantharamon commented on #436
Thanks for reaching out with your questions, @jimbarrett33.

@davidchesnut would this be something you can assist with?

[2022-11-17 21:47] davidchesnut commented on #436
Hi @jimbarrett33,

Yep, great question! We're working with the identity team to update these samples and be sure they are 100% correct from a security pattern perspective. When you use MSAL for fallback, you still need to get an access token to your REST API server (ASP.NET). This appeared that it might require 2 app registrations (one for SSO usage, and another for the MSAL usage.) But through mo

[2022-11-18 00:49] jimbarrett33 commented on #436
Hey @davidchesnut,

Thanks for the quick response! Great news that you are still working on the fallback pattern with a single app registration. I am in the process of choosing the best way to go for a new add-in (actually old add-in from pre-SaaS monetization).

I agree with the previous sample issue of returning the token to the client. I would just add that I don't _think_ it's required to retu

[2022-11-20 19:48] geoHeil commented on #415
@yaweizhu-henson @JHJ-MS any updates on this? Can you explain to what extent this feature is or will be supported?

[2022-11-29 13:24] MartinHatchL365 opened #439 "word-blazor-add-in - The add-in could not be started | Win 11 + VS2022"
[**URL of sample**](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/blazor-add-in/word-blazor-add-in)

On pressing F5 to run the code, Microsoft Word loads and the task pane says:
_The add-in could not be started. Please restart all Office applications and try again_

**To Reproduce**

Steps to reproduce the behavior:
1. Load Solution
2. Press F5

**Expected behavior**

The ad

[2022-11-29 20:48] aafvstam commented on #439
Is the Solution set to startup the two projects?
What do you see? Do you see Word starting and a browser?
What you should see is the browser starting and loading the Blazor WASM App (indicating that the server is running)
Also you should see Word starting, loading the taskpane.

[2022-11-29 20:49] davidchesnut commented on #439
Hi @MartinHatchL365, thanks for reporting this! Sometimes when developing and sideloading, a problem in the cache causes issues. You can try [clearing the cache](https://learn.microsoft.com/office/dev/add-ins/testing/clear-cache) and see if that clears up the problem.

In the meantime I'll test it myself and be sure it is working correctly. Thanks!

[2022-11-29 22:54] aafvstam commented on #439
Built a completely new Windows 11 machine with VS 2022 and Microsoft 365 and tested the sample on that machine. It ran without issues.

The recording of running the sample can be found here:
https://youtu.be/QTbCoQSn5UM

[2022-11-30 00:02] cmeyertons commented on #439
@aafvstam I am experiencing the same behavior.

On VS2022 17.4.2 and Windows 10.  It appears to have to do w/ debugging the application -- I can get the add-in to load if I "Start without Debugging"

log file:
[code]

[2022-11-30 00:55] davidchesnut commented on #439
Hi @cmeyertons It looks like with Windows 10 you might be running an older webview. You can check on [Browsers used by Office Add-ins](https://learn.microsoft.com/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) . Or you can run the add-in and when it opens, click the < in the upper right corner and select **security info**. The runtime should be "Microsoft Edge". If it is anything

[2022-11-30 06:54] aafvstam commented on #439
Blazor requires WebView2. Older versions of Office do not install WebView2 by default. What is your Office SKU and version?

[2022-11-30 12:23] cmeyertons commented on #439
@aafvstam @davidchesnut  thank you both very much for the fast feedback, fingers crossed there's a path forward.  Will check my Office version when I get into the office (no pun intended)

For posterity, I was able to get around the Visual Studio prompt `The operation was cancelled` by following the [instructions for configuring the Visual Studio (Windows) timeout](https://learn.microsoft.com/en-u

[2022-11-30 14:34] cmeyertons commented on #439
I am on `Microsoft® Excel® for Microsoft 365 MSO (Version 2202 Build 16.0.14931.20806) 64-bit`

Windows Info:
[code]

So I fall under the category of needing WebView2 installed in order to have Office use it

Windows 10 ver. >= 1903,Window 11 | Microsoft 365 ver. >= 16.0.13530.204242 | No | Microsoft Edge1, 3 with original WebView (EdgeHTML)
-- | -- | -- | --
Windows 8.1Windows 10,Windows 11 | Mic

[2022-11-30 17:48] MartinHatchL365 commented on #439
Hi... just the OP here as I can see my thread has been hi-jacked 😂😂🤐🤐🙈🙈

I can confirm that a machine reboot cleared the issues. It is possible that the ScriptLab add-in was conflicting in some way, as I couldn't get a TypeScript based "yo office" add-in to load either 🤷‍♂️